@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: "jf open 粉圓 2.0";
  src: url(./jf-openhuninn-2.0.ttf);
}
/* 變數區 */
:root {
  --main-color: #14AAEB;
  --btn-color: #F1DB15;
  --font-color: #147CB6;
  --border-image: url("../images/catframe.png");
  --background-image: url("../images/CatBg.jpg");
  --search-decorate: url("../images/index-searchCat.png");
  /* 行程 */
  --border-type: solid;
  --evaluate-color: #1A8D07;
}

body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-family: "Alata", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "jf-openhuninn-2.0", "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
  padding: 10vw 10vw;
}

/* tag樣式 */
.tag-style {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.tag-style p {
  padding: 4px 8px;
  height: fit-content;
  width: fit-content;
  border-radius: 50px;
  background-color: white;
  color: var(--font-color);
  text-align: center;
  margin-right: 5px;
  text-shadow: 0 0;
}

/* 按鈕樣式 */
.BtnContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.button {
  background-color: var(--btn-color);
  width: fit-content;
  height: fit-content;
  margin-top: 5px;
  padding: 5px 18px;
  border-radius: 50px;
  border: 2px solid black;
  border-bottom: 5px solid black;
}
.button .selected,
.button :active {
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  padding-top: 3px;
  padding-bottom: 0px;
  color: black;
  background-color: var(--main-color);
  border-bottom: 7px solid var(--main-color);
  border-top: 6px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  box-shadow: none;
}

.btn-close {
  background-color: #D9D9D9;
  width: fit-content;
  height: fit-content;
  margin-top: 5px;
  padding: 5px 18px;
  border-radius: 50px;
  border: 2px solid black;
  border-bottom: 5px solid black;
}
.btn-close .selected,
.btn-close :active {
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  padding-top: 3px;
  padding-bottom: 0px;
  color: black;
  background-color: var(--main-color);
  border-bottom: 7px solid var(--main-color);
  border-top: 6px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  box-shadow: none;
}

/* 貼文元件 */
.simplePostInfo {
  width: 348px;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  background: rgba(247, 246, 245, 0.9);
  border: 3.5px solid rgb(0, 0, 0);
  box-shadow: 0px 12px 0px 0px #000000;
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
}
.simplePostInfo .main-info {
  /*貼文元件-主資訊*/
  width: 100%;
  padding-left: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}
.simplePostInfo .main-info header {
  grid-column: 1/4;
  grid-row: 1;
  width: 100%;
  height: fit-content;
  color: var(--font-color);
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.simplePostInfo .main-info header .p {
  flex: auto;
  gap: 10px;
}
.simplePostInfo .main-info header .type-style {
  flex: 0 1 auto;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 4px 10px;
  background: var(--main-color);
  color: white;
  text-align: center;
}
.simplePostInfo .main-info header .type-style p {
  font-size: 12px;
}
.simplePostInfo .main-info .areaInfo {
  grid-column: 3/1;
  grid-row: 2;
  width: auto;
  height: auto;
  color: var(--font-color);
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.simplePostInfo .main-info .tag-style {
  /* tag布局 */
  grid-column: 1/3;
  grid-row: 3;
}
.simplePostInfo .sub-info {
  border-radius: 5px;
  padding-left: 10px;
  /* 子 */
  display: grid;
  grid-auto-rows: auto;
  gap: 5px;
  /*  ...>div(filter-simplePostInfo > div(sub-info > div(solicitor-number */
  /*  ...>div(filter-simplePostInfo > div(sub-info > div(ball-type */
  /* 設備/... >div(filter-simplePostInfo >div(sub-info>div(equipInfo*/
  /* 備註/... >div(filter-simplePostInfo>div(sub-info>div(noteInfo*/
}
.simplePostInfo .sub-info h4 {
  color: #6d6d6d;
  align-self: center;
}
.simplePostInfo .sub-info div {
  color: white;
}
.simplePostInfo .sub-info div p {
  color: var(--font-color);
}
.simplePostInfo .sub-info .vacancyInfo {
  width: auto;
  height: fit-content;
  /* 子 */
  display: grid;
  grid-template-columns: 35px 25px 35px 25px 40px 45px 35px;
  gap: 6px;
  justify-content: space-between;
  align-items: center;
}
.simplePostInfo .sub-info .vacancyInfo div {
  width: fit-content;
  height: fit-content;
  padding: 2px 5px;
  border-radius: 50px;
  background: #6d6d6d;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simplePostInfo .sub-info .ballInfo {
  width: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 6px;
  justify-content: center;
  align-items: center;
}
.simplePostInfo .sub-info .ballInfo h4 {
  width: fit-content;
  align-self: center;
}
.simplePostInfo .sub-info .equipInfo,
.simplePostInfo .sub-info .posInfo {
  width: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 6px;
}
.simplePostInfo .sub-info .noteInfo {
  width: auto;
  height: fit-content;
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 6px;
}
.simplePostInfo .apply-info {
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-auto-rows: min-content;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.simplePostInfo .apply-info hr {
  grid-column: 3/1;
  grid-row: 1;
  width: 80%;
  border: 1px solid black;
  align-self: flex-end;
}
.simplePostInfo .apply-info img {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}
.simplePostInfo .apply-info p {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.simplePostInfo .apply-info div {
  grid-column: 1/3;
  grid-row: 3;
  min-height: 50px;
  border-radius: 10px;
  background-color: #D9D9D9;
  padding: 10px;
}
.simplePostInfo .apply-info div input {
  border: none;
  background-color: #D9D9D9;
}

/* 臨打報名元件 *//*# sourceMappingURL=component.css.map */