@charset "UTF-8";
/*  */
/* 行程頁 */
/* 行程(通知)main容器 */
.notice-Area {
  /*視窗寬比例70/100 */
  width: 70vw;
  /* 視窗高比例100 */
  height: fit-content;
  /* layout */
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  gap: 25px;
  justify-content: center;
  justify-items: center;
}
@media (max-width:640px) {
  .notice-Area {
    width: 90vw;
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  }
}

/* 通知類別容器 */
.notice-type {
  width: 60%;
  height: fit-content;
  /* layout */
  display: grid;
  grid-template-columns: 110px 110px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.notice-type button {
  width: fit-content;
  height: min-content;
  border-radius: 50px;
  padding: 5px 18px;
  background-color: rgba(155, 58, 232, 0.9);
  color: rgba(247, 246, 245, 0.9);
  border: 2px solid black;
  box-shadow: 0px 4px 0px 0px #000000;
}

/* 按鈕選中 */
button#btn-itinerary.selected,
button#btn-pastRecords.selected {
  background-color: rgba(74, 13, 150, 0.9);
  border: none;
  box-shadow: none;
  padding: 2px 18px;
  border-bottom: 3px solid rgba(74, 13, 150, 0.9);
  border-top: 6px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

/* 副標容器 */
.notice-itineraryTitle {
  width: 60vw;
  margin-left: 15vw;
  /* layout */
  display: grid;
  grid-template-columns: 100px 80px;
  gap: 15px;
  align-content: center;
  justify-content: start;
  align-items: center;
  justify-items: center;
}
@media (max-width: 768px) {
  .notice-itineraryTitle {
    margin-left: 0;
    margin-right: 35vw;
  }
}

/* 主辦按鈕 */
.btn-sponsor {
  width: fit-content;
  height: 30px;
  border-radius: 50px;
  border: 2px solid black;
  background-color: rgba(247, 246, 245, 0.9);
  box-shadow: 0px 4px 0px 0px #000000;
  padding: 3px 8px;
  /* layout */
  display: grid;
  grid-template-columns: 25px 40px;
  gap: 3px;
}

/* 預定行程容器 */
.notice-itineraryArea {
  width: 60vw;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  /* layout */
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2vw;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 768px) {
  .notice-itineraryArea {
    /* 手機 元件兩行變成一行 */
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

/* 通知元件容器 */
.notice-container {
  width: 80%;
  height: fit-content;
  border-radius: 50px;
  border: 3px var(--border-type) black;
  padding: 8px 8px 8px 17px;
  color: var(--font-color);
  background-color: rgba(247, 246, 245, 0.9);
  /* layout */
  display: grid;
  grid-template-columns: 13% 85%;
  gap: 2%;
  justify-content: start;
  align-items: center;
  justify-items: end;
}
@media (max-width:640px) {
  .notice-container {
    width: 88vw;
    min-width: 280px;
    max-width: 378px;
    /* 375*0.88vw */
    grid-template-columns: 14% calc(85% - 6px);
    padding: 6px;
    gap: 0;
  }
}

/* 羽or排 */
.notice-ballType {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--font-color);
  color: rgba(247, 246, 245, 0.9);
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice-ballType p {
  font-size: 2vw;
}

/* 元件資訊 */
.notice-info {
  width: 90%;
  height: fit-content;
  /* layout */
  display: grid;
  grid-template-columns: 20% 40% 40%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media (max-width:640px) {
  .notice-info {
    gap: 3%;
    grid-template-columns: 25% 36% 36%;
  }
}
.notice-info > p {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width:640px) {
  .notice-info > div:first-child {
    width: 100%;
    /* layout */
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .notice-ballType p {
    font-size: 1.8rem;
  }
}
/* 評價狀態 */
.notice-info > div:last-child, .audit-state {
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  border: 1px solid var(--evaluate-color);
  padding: 4px 8px;
  color: var(--evaluate-color);
}

.notice-pastRecordsArea {
  display: none;
}

.custom-dashed-border {
  border: none;
  border-radius: 50px;
  background-image: linear-gradient(to right, #000000 10px, transparent 0);
  background-position: left top;
  background-size: 10px 3px;
  /* 這裡的第一個值（10px）是虛線的長度，第二個值（2px）是虛線的寬度 */
}/*# sourceMappingURL=notice.css.map */