
    /*  */
    /* 行程頁 */
    /* 行程(通知)main容器 */
    .notice-Area {
        /*視窗寬比例70/100 */
        width: 70vw;
        /* 視窗高比例100 */
        height: fit-content;

        display: grid;
        /* 視窗高比grid */
        /* grid-template-rows:  6vh 6vh 44vh 44vh; */
        grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
        gap: 25px;
        justify-content: center;
        justify-items: center;

    }



    /* 通知類別容器 */
    .notice-type {
        width: 60%;
        height: fit-content;

        display: grid;
        grid-template-columns: 110px 110px;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }



    /* 通知類別按鈕 */
    .notice-type button {
        width: fit-content;
        height: min-content;
        border-radius: 50px;
        padding: 5px 18px;
        background-color: rgba(155, 58, 232, 0.9);
        color: rgba(247, 246, 245, 0.9);
        border: 2px solid black;
        box-shadow: 0px 4px 0px 0px black;

    }

    /* 按鈕選中 */
    button#btn-itinerary.selected,
    button#btn-pastRecords.selected {
        background-color: rgba(74, 13, 150, 0.9);
        border: none;
        box-shadow: none;
        padding: 2px 18px;
        border-bottom: 3px solid rgba(74, 13, 150, 0.9);
        border-top: 6px solid black;
        border-right: 2px solid black;
        border-left: 2px solid black;
    }

    /* 副標容器 */
    .notice-itineraryTitle {
        width: 60vw;
        margin-left: 15vw;
        display: grid;
        grid-template-columns: 100px 80px;
        gap: 15px;
        align-content: center;
        justify-content: start;
        align-items: center;
        justify-items: center;

    }

    /* 主辦按鈕 */
    .btn-sponsor {
        width: fit-content;
        height: 30px;
        border-radius: 50px;
        border: 2px solid black;
        background-color: rgba(247, 246, 245, 0.9);
        box-shadow: 0px 4px 0px 0px black;
        padding: 3px 8px;

        display: grid;
        grid-template-columns: 25px 40px;
        gap: 3px;
    }

    /* 預定行程容器 */
    .notice-itineraryArea {
        width: 60vw;
        height: fit-content;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 5vw;
        /* child */
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2vw;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    /* 手機 元件兩行變成一行 */
    @media (max-width:768px) {
        .notice-itineraryTitle {
            margin-left: 0;
            margin-right: 35vw;
        }

        .notice-itineraryArea {
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            justify-items: center;

        }
    }

    /* 通知元件容器 */
    .notice-container {
        width: 80%;
        height: fit-content;
        border-radius: 50px;
        border: 3px var(--border-type)black;
        padding: 8px 8px 8px 17px;
        color: var(--font-color);
        background-color: rgba(247, 246, 245, 0.9);

        display: grid;
        grid-template-columns: 10% 85%;
        /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
        gap: 2%;
        justify-content: start;
        align-items: center;
        justify-items: end;


    }

    /* 羽or排 */
    .notice-ballType {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--font-color);
        color: rgba(247, 246, 245, 0.9);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notice-ballType p {
        font-size: 2vw;
    }

    /* 元件資訊 */
    .notice-info {
        width: 90%;
        height: fit-content;

        display: grid;
        grid-template-columns: 20% 40% 40%;
        gap: 5px;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    /* 文字過多刪減 */
    .notice-info>p {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    /* 手機 元件容器-資訊-文字*/
    @media (max-width:640px) {
        .notice-Area {
            width: 90vw;
            grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));

        }

        .notice-container {
            width: 88vw;
            min-width: 330px;
            max-width: 378px;
            /* 375*0.88vw */
            grid-template-columns: 14% calc(85% - 6px);
            padding: 6px;
            gap: 0
        }

        .notice-info {
            gap: 3%;
            grid-template-columns: 25% 36% 36%;
        }

        .notice-info>div:first-child {
            width: 100%;
            display: grid;
            grid-gap: 3px;
            grid-template-columns: 1fr;
            justify-items: center;
        }

        .notice-ballType p {
            font-size: 1.8rem;
        }


    }


    /* 評價狀態 */
    .notice-info>div:last-child {
        width: fit-content;
        height: fit-content;
        border-radius: 50px;
        border: 1px solid var(--evaluate-color);
        padding: 4px 8px;

        color: var(--evaluate-color);
    }

    .notice-pastRecordsArea {
        display: none;
    }

    .custom-dashed-border {
        border: none;
        border-radius: 50px;
        background-image: linear-gradient(to right, black 10px, transparent 0);
        background-position: left top;
        background-size: 10px 3px;
        /* 這裡的第一個值（10px）是虛線的長度，第二個值（2px）是虛線的寬度 */
    }


    /* 個人 */
    /* 個人檔案main */
    .personal-Area {
        width: 100%;
        height: fit-content;

        display: grid;
        grid-template-rows: 50px 1fr;
        gap: 60px;
        justify-content: center;
        justify-items: center;

    }

    @media screen and (max-width:640px) {
        .personal-Area {
            margin-bottom: 180px;
        }
    }

    /* 資料編輯按鈕*/
    #btn-editFile {
        flex: 0.1;
        justify-self: end;
        width: fit-content;
        height: fit-content;
        border-radius: 50px;
        padding: 9px 18px;
        margin-right: 10px;
        background-color: rgba(155, 58, 232, 0.9);
        color: rgba(247, 246, 245, 0.9);
        border: 2px solid black;
        box-shadow: 0px 4px 0px 0px black;
        display: grid;
        grid-template-columns: 65px 32px;
        align-items: center;
    }

    /* 個人資料容器 */
    .personalArea-infoContainer {
        width: 100%;
        height: fit-content;
        margin: 0 50px;

        display: grid;
        grid-template-rows: 1fr 0.5fr;
        gap: 5px;
        align-items: center;
        justify-items: center;
    }

    @media screen and (max-width: 640px) {
        .personalArea-infoContainer {
            gap: 20px;
        }
    }

    /* 包頭像(登入)+狀態的容器 */
    .infoContainer-biography {

        max-width: 100%;
        min-width: 315px;
        height: fit-content;

        /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
        gap: 80px;
        justify-content: space-between;
        align-items: center;
        justify-items: center;

    }

    @media screen and (max-width: 640px) {
        .infoContainer-biography {

            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-items: center;
        }
    }

    /* 頭像(登入)容器 */
    .biography-bust {
        /* flex-grow:1; */
        width: 30%;
        height: 250px;
        display: grid;
        grid-template-rows: 205px 145px;
        gap: 15px;
        justify-content: center;
        align-items: start;
        justify-items: center;
    }

    @media screen and (max-width: 640px) {
        .biography-bust {
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

    /* 頭像 */
    .biography-bust figure {
        width: 150px;
        height: 150px;
        border-radius: 90px;
        border: 10px solid black;
        background-color: #ffffff;
        margin-bottom: 20px;
    }

    /* Line登入按鈕 */
    .btn-logInLine {
        width: 112px;
        height: 36px;
        background-color: #44C150;
        color: rgba(247, 246, 245, 0.9);
        border: 3px solid black;
        border-radius: 3px;
        font-size: 12px;
        padding: 6px 9px;


        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    /*  */
    .btn-logInLine img {
        width: 20px;
        margin-right: 12px;
    }

    /* 登入後姓名 */
    .userName {
        width: 120px;
        display: flex;
        flex-direction: row;
        color: white;

    }

    .userName img {
        width: 20px;
    }

    /* 包(狀態)容器 */
    .biography-info {
        /* flex-grow:1; */
        width: 70%;
        height: fit-content;

        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 32px;
        justify-content: center;
        align-items: center;
    }

    /* 介紹 */
    .info-introduction {
        /* width: 100%; */
        min-width: 215px;
        height: 89px;
        border-radius: 50px;
        padding: 12px 18px;
        background-color: rgba(247, 246, 245, 0.9);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
        color: #6D6D6D;

        text-align: center;
        line-height: 89px;


    }

    /* 場次+出席+自評狀態 */
    .info-selfState {
        max-width: 100%;
        min-width: 315px;
        height: fit-content;
        border-radius: 20px;
        border: 4px solid black;
        background-color: rgba(247, 246, 245, 0.9);
        padding: 20px;

        display: grid;
        grid-template-rows: 2fr 0.5fr;
        gap: 20px;
        justify-content: center;
        align-items: center;
        justify-items: center;


    }

    /* 登入後顯示的場次資料 */
    .selfState-userInfo {
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
        align-items: center;

    }

    /*  */
    .selfState-userInfo .userInfo {
        width: 53px;
        height: 32px;
        border-radius: 50px;
        background-color: #83B90F;
        text-align: center;
        line-height: 32px;
        color: rgba(247, 246, 245, 0.9);


    }

    /*  */
    .selfState-userInfo div {
        width: 60px;
        height: 55px;
        position: relative;
    }

    .selfState-userInfo div img {
        position: absolute;
        width: 100%;
        top: 0;


    }

    .selfState-userInfo div p {

        position: absolute;
        top: 18px;
        left: 13px;
        color: #83B90F;

    }


    /* 累積場次... */
    .selfState-title {
        width: 242px;
        height: fit-content;

        display: grid;
        grid-template-columns: 67px 51px 67px;
        justify-content: space-between;
        color: #83B90F;

    }

    /*登入顯示字顏色 */
    .info-selfState>div:last-child {
        color: #6D6D6D;
    }

    /* 包(團主和零打紀錄)的容器 */
    .infoContainer-records {
        max-width: 100%;
        min-width: 315px;
        height: 210px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
        /* grid-template-columns:1fr 1fr; */
        gap: 80px;
        justify-items: center;
        align-items: center;

    }

    @media screen and (max-width: 640px) {
        .infoContainer-records {
            height: fit-content;
            display: grid;
            grid-template-rows: 205px 1fr;
            gap: 20px;
        }
    }

    /* 團主紀錄容器 */
    .records-sponsored {
        width: 315px;
        min-width: 215px;
        height: fit-content;
        padding: 20px;
        background-color: #F6F6F6;
        border-radius: 20px;
        border: 4px solid black;

        display: grid;
        grid-template-rows: 19px 1fr;
        gap: 15px;
        justify-items: center;
        align-items: center;
        overflow: hidden;

    }

    /* 團主紀錄第一行標題 */
    .sponsored-title {
        width: 85%;
        height: fit-content;
        justify-self: flex-start;

        display: grid;
        grid-template-columns: 95px 59px;
        gap: 134px;
        justify-content: space-between;
    }

    /* 包標題的容器 */
    .hugSponsored-title {

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* 標題前的直線 */
    .titleLine {
        width: 5px;
        height: 20px;
        background-color: black;
        margin-right: 10px;
    }

    /* 包左、右按鈕的容器 */
    .sponsored-titleBtn {
        display: grid;
        grid-template-columns: 10px 10px;
        gap: 41px;
    }

    /* 提示:登入顯示 */
    .prompt {
        color: #6D6D6D;
    }

    /*  */
    .records-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-self: flex-start;

    }

    /*臨打紀錄*/
    .records-participation {
        width: 315px;
        min-width: 215px;
        height: fit-content;
        padding: 20px;
        background-color: #F6F6F6;
        border-radius: 20px;
        border: 4px solid black;

        display: grid;
        grid-template-rows: 19px 1fr;
        gap: 15px;
        justify-items: center;
        align-items: center;
        overflow: hidden;
    }

    .info-time {
        width: 100px;
        height: fit-content;
        border-radius: 50px;
        border: 2px solid rgba(131, 185, 15, 0.9);
        background-color: rgba(247, 246, 245, 0.9);
        color: #689607;

        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    .info-time div {
        width: 33px;
        height: 42px;
        border-radius: 50px;
        background-color: rgba(131, 185, 15, 0.9);
        color: rgba(247, 246, 245, 0.9);
        font-size: 30px;
    }

    .info-time p {
        width: 50px;
        text-align: center;
    }
