@import "_varible";

/* 貼文區 */
/* main.filter-postArea */
.filter-postArea {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vw;
  gap: 40px;

  hr {
    width: 80vw;
    height: 0px;
    align-self: center;
    border: 1px solid $second-color-black;
  }
}

/* main.filter-postArea  > section.filter-box*/
.filter-box {
  max-width:500px;
  width: 70vw;
  height: 96px;
  align-self: center;
  margin-top: 2vh;

  /* 子 */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  @media ($breakpoint-moblie) {
    margin-top: 5vh;
    display: grid;
    grid-template-rows: minmax(80px,auto);
    grid-template-columns: 60px 1fr;
    gap: 10px;
    justify-items: center;
  }
  .filter-info {
    width: fit-content;
    height: 59px;
    border-radius: $border-radius-50;

    background:$background-color-lightwhite2;
    border: 3.5px solid $border-black;

    box-shadow: 0px 4px 0px 0px $border-black;
    /* 子 */
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2.5,1fr);
    grid-template-rows: minmax(20px, auto);
    flex-direction: column;
    align-items: center;
    overflow-wrap: normal;
    padding: 5px 15px;

    .info-top {
      grid-column: 1/5;
      grid-row: 1;
      margin: 2px 10px;
      margin-top: 5px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      p {
        width: fit-content;
        text-align: center;
      }

      .dot {
        width: 15px;
      }

    }

    img {
      grid-column: 4;
      grid-row: 1/3;
      width: 80%;
      margin: 7px;
      margin-left: 20px;
    }

    .info-down {
      grid-column: 1/3;
      grid-row: 2;
      align-self: center;
      margin-left: 10px;
      @media ($breakpoint-moblie) {
        grid-row: 2;
        grid-column: 1/3;
      }
    }

  }
}

.filter-btnBox {
  width: 70px;
  padding-left: 10px;
  position: relative;

}


/* 裝已選條件資料/... >div.fitter-info >div.filter-btnBox >button.#btn-filter */
#btn-filter {
  @extend %button;
  width: 58px;
  height: 58px;
  top: 4px;
  border-radius: $border-radius-90;
  border: 3px solid $border-black;
  box-shadow: 0px 4px 0px 0px $second-color-black;
  background-color: $background-color-white;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 18px;
    height: 18px;
    top: 8px;
    left: 2px;
  }

}

/* ...> section.filter-box > div.fitter-info > div > div.by-btn-filterNum */
.by-btn-filterNum {
  /* layout */
  height: auto;
  padding: 4px 7px 4px 7px;
  border-radius: $border-radius-90;
  /* color */
  background: $btn-color-red;
  /* border */
  border: 1.5px solid $border-black;

  /* 相對#btn-filter位置 */
  position: absolute;
  top: 0;
  right: 0;

  /* 子 */
  text-align: center;

  p {
    color: $second-color-white;
  }
}


/* main.filter-postArea  > section.filter-box > div.filter-postQuantity */
.filter-postQuantity {
  width: 165px;
  height: 19px;
  margin-top: 30px;
  text-align: center;
  @media ($breakpoint-moblie) {
    margin-top: 10px;
    padding: 0 auto;
      grid-row: 2;
      grid-column: 1/3;

  }

  p {
    position: relative;
    z-index: 0;
    color: $second-color-white;

    &::before {
      content: attr(value);
      position: absolute;
      z-index: -1;
      -webkit-text-stroke: 4px $second-color-black;
    }
  }
}

/* main.filter-postArea > section.filter-containers */
.filter-containers {
  width: 100%;
  height: auto;
  margin: 20px;
  display: flex;
  align-items: center;

}

/* main.filter-postArea > section.filter-containers >div.filter-postBlock */
.filter-postBlock {
  width: 70%;
  min-width: 345px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  overflow-wrap: normal;
  gap: 30px;
  justify-content: center;
  align-items: center;
  //margin-left: 15vw;
  @media ($breakpoint-moblie) {
   margin: 0;
  }
  @media ($breakpoint-md) {
    margin: 0;
    justify-content: center;
   }
}
