@import "_varible";
/*  */
/* 註冊頁 */
/* main(register-Area)容器 */
.register-Area {
    /* layout */
    width: 80%;
    height: auto;
    /* 布局 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;   
}
.register-section {
    /* 包註冊內容的容器  */
    
    /* layout */
    width: 40%;
    min-width:280px;
    max-width: 700px;
    height: 572px;
    border-radius: $border-radius-20;
    border: 3px solid $second-color-black;
    padding: 30px;
    /* child */
    gap:15px;
    @media ($breakpoint-moblie) {
    margin: 0 15vw;}

    
}
.register-info {
    /* 包資訊的容器 */

    
    /* 布局 */
    flex: auto;
    /* layout */
    width: 100%;
    height: auto;

    /* 子 */
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    .title{
        margin: 0px;
        align-self: flex-start;
    }

   
    .BtnContainer {
        /* 註冊按鈕容器 */

        .button {
            /* 註冊按鈕 */
        }
    }
}
.photo {
    /* 頭像及上傳檔案按鈕 */

    /* layout */
    width: 100%;
    height: fit-content;
    /* 子 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
        width: 150px;
        height: 150px;

    }
    input{
        width: auto;
        height: auto;
        border: none;
        box-shadow: none;
        
    }
}
.player-info {
    /* 表單容器 */

    /* layout */
    width: fit-content;
    height: fit-content;
    /* 子 */
    display: grid;
    grid-template-columns:  40px 1fr;
    grid-auto-rows: minmax(30px,auto);
    align-items: center;
    justify-content: center;
    gap: 15px;

    label{
        /* 布局 */
        grid-column: 1;
        grid-row: auto;
    }
    input{
        /* 布局 */
        grid-column: 2;
        grid-row: auto;
    }
    div{
        /* 布局 */
        grid-column: 2;
        grid-row: 2;
        /* layout */
        width: fit-content;
        .button{
            /* layout */
            background-color: $background-color-white;
           margin-right: 10px;
           margin-top:5px;
           &:hover{
            margin-top:0 ;
           }
        }
    }
    

}
.register-degree {
    /* 程度容器 */

    /* 子 */
    display: flex;
    flex-direction: column;
    gap : 15px;
    .title{
        /* 布局 */
        align-self: flex-start;
        margin: 0;
    }
    
}
.degreeBtn {/* 羽球或排球按鈕容器 */
    
    /* 布局 */
    align-items: flex-end;
    /* layout */
    width: 275px;
    height: fit-content;
    /* child */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    
    .bmBtn{
        background-color: $main-color-bm;
    }
    .vbBtn{
        background-color: $main-color-vb;
    }
}
.degreeSelect {
    /* 程度選單容器 */

    /* 布局 */
    align-items: flex-end;
     /* layout */
     width: 275px;
     height: fit-content;
     /* child */
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 12px;

    #degree-bm{
        color: $main-color-bm;
    }
    #degree-vb{
        color: $main-color-vb;
    }
}
