@charset "UTF-8";

body {

    width: 1000px;
    height: 1200px;
    margin: 0 auto;
    background-color: #eff6fe;
    padding: 0px 20px 20px 20px;
    
}
.box{
    width: 1000px;

    margin-left: auto;
    margin-right: auto;
    
}

.gallery {
    width: 300px;
    height: 400px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 5px double black ;

}

img {
    display: block;
    margin: 0 auto;
}