@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@font-face {
    font-family: "jf open 粉圓 2.0";
    src: url(./jf-openhuninn-2.0.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h1 {
    font-size: 24px;
    font-style: normal;
}

.title-L {
    font-size: 24px;
    font-style: normal;
}

h2 {
    font-size: 20px;
    font-style: normal;
}

.title-M {
    font-size: 20px;
    font-style: normal;
}

h3 {

    font-size: 18px;
    font-style: normal;
}

.text-L {
    font-size: 18px;
    font-style: normal;
}

p {
    font-size: 16px;
    font-style: normal;
}

.text-M {
    font-size: 16px;
    font-style: normal;
}

small {
    font-size: 12px;
    font-style: normal;
}

.text-S {
    font-size: 12px;
    font-style: normal;
}

button{
    font-size: 16px;
    font-style: normal;
}

/* 移除有序和無序列表的預設樣式 */
ul {
    list-style: none;
}

section {
    margin-bottom: 50px;
    /* 控制子層 */
    display: flex;
    flex-direction: column;
    justify-content: center;

}
label{
    font-size: 16px;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    /* 拿掉超連結文字底線 */
    text-decoration: none;
    color: black;
}

* {
    margin: 0;
    padding: 0;
}
/* 變數區 */
:root {
    --main-color: #14AAEB;
    --btn-color: #F1DB15;
    --font-color:#147CB6;
    --border-image: url('../images/catframe.png');
    --background-image: url('../images/CatBg.jpg') ;
    /* 通知 */
    --border-type:solid;
    --evaluate-color:#1A8D07;

}

body {
    width: 100%;
    height: auto;
    background-image: var(--background-image);
    background-repeat: no-repeat; /* 防止背景圖片重複 */
    background-size: cover; /* 確保背景圖片填滿整個容器 */
    background-attachment: fixed; /* 讓背景圖片固定不動 */
    background-position: center center; /* 讓背景圖片在容器中置中 */
    font-family: "Alata", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "jf open 粉圓 2.0";
}
.background-Bm{
    background-image: url(../images/DogBg.jpg);
}
.background-Vb{
    background-image: url(../images/CatBg.jpg);
}

.body{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    gap: 1px;
    justify-content: center;
}
/*  */
/* 導覽列 */
#topBar {
    width: 100%;
    /* 控制子層 */
    display: flex;
    flex-direction: column;
}

/* 桌機 */
@media(max-with:820px) {}

/* 平板 */
@media (max-with:768px) {}

/* 手機 */
@media (max-with:640px) {
    #topBar {
        align-self: flex-end;
        width: 100%;
        /* 控制子層 */
        display: flex;
        flex-direction: column;
    }
}

#top-nav {
    /* 父 */
    width: auto;
    flex: 0 1 auto;
    align-self: center;
    margin: 25px 0;

}

#menu {
    /* 樣式 */
    width: 800px;
    height: 50px;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-radius: 20px;
    background-color: white;
    /* 控制子層 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#menu li {
    flex: 1;
    padding-left: 100px;
    /* 控制子層 */
    text-align: center;
}

#menu li:last-child {
    /* 樣式 */
    padding-right: 100px;
}

#menu li a {
    /* 樣式 */
    padding: 1px;
    /* 控制子層 */
    display: flex;
    text-align: center;
}

#menu .icon {
    /* 樣式*/
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
/*  */
/* 頁尾 */
footer {
    height: 100px;
    width: 100%;
    background-color: rgba(3, 9, 40, 0.6);
    background-size: cover;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
}

.footer-border {
    width: auto;
    height: 21px;
    background-image: url("../images/logo2.png");
    background-size: 24px;
    background-repeat: repeat;
    background-position: center;

}

footer div {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer div p {
    color: white;
}

#logo {

    width: 35px;
    height: 33px;
    margin-left: 10px;
    flex: 1 0 auto;
}

#selectArea {
    display: none;
}


footer div p {
    width: 237px;
    margin-left: 10px;
    text-align: center;
}

/*  */
/* 首頁main */
.index {
    /* 控制子層 */
    display: flex;
    flex-direction: column;
    
}

.index-title{
    width: 700px;
    height: fit-content;
    margin: 0 50px;
    margin-bottom: 50px;
    align-self: center;
}

/* 搜尋區 */
/* main> section.search */
.search {
    /* 樣式 */
    min-width: 340px;
    width: 800px;
    height: auto;
    /* 布局 */
    flex: 1 1 auto;
    align-self: center;
    margin-bottom: 50px;
    /* 控制子層 */
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

/* main > section.search > div#search-Type */
#search-Type {
    /* 布局 */
    flex: 1 1 auto;
    /* 控制子層 */
    display: flex;
    flex-direction: column;
    align-self: center;

}

#btn-typeVb {
    /* 樣式 */
    width: 120px;
    height: 48px;
    border: 4px solid rgba(20, 170, 235, 0.9);
    background-color: #d9d9d9;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-bottom: 30px;

    opacity: 0.5;
    /* 子層 */
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-typeVb img {
    pointer-events: none;
    width: 30%;

    /*object-fit: cover;  裁剪圖片，使其填滿元素 
    object-position: center; /* 圖片位置 */
    opacity: 0.7;
}
/* main > section.search > div#search-Type > button */
#btn-typeBm {
    /* 樣式 */
    width: 120px;
    height: 48px;
    border: 4px solid #83B90F;
    background-color: #d9d9d9;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    opacity: 0.5;
    /* 子層 */
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-typeBm img {
    pointer-events: none;
    width: 30%;
    opacity: 0.7;
    /*object-fit: cover;  裁剪圖片，使其填滿元素 
    object-position: center; /* 圖片位置 */

}



button#btn-typeBm.selected,
button#btn-typeVb.selected {
    /* 樣式 */
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border: 4px solid #000;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    opacity: 1;

    /* 子層 */
    display: flex;
    align-items: center;
    justify-content: center;
}

button#btn-typeBm.selected img,
button#btn-typeVb.selected img {

    opacity: 1;
    width: 90%;
    pointer-events: none;
    object-fit: cover;
    /* 裁剪圖片，使其填滿元素 */
    object-position: center;
    /* 圖片位置 */
}

/* main > section.search > div#search-Bar */
#search-Bar {
    /* 樣式 */
    width: auto;
    height: 270px;
    border: 4px solid #000;
    border-bottom: 15px solid #000;
    border-radius: 20px;
    background-color: #14AAEB;
    /* 布局 */
    flex: 15 1 340px;
    padding: 20px;
    /* 控制子層 */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;



}

/* main > section.search > div#search-Bar > div.dropMenu */
.dropMenu {
    height: auto;
    padding-right: 25px;
    /* 布局 */
    flex: 5 1 auto;
    /*控制子層 */
    justify-content: center;
}

/* main > section.search > div#search-Bar > div.dropMenu > ul*/
.dropMenu ul {
    /* 樣式 */
    height: auto;
    /*控制子層 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* main > section.search > div#search-Bar > div.dropMenu > ul > input */
.dropMenu input {
    /* 樣式 */
    width: 250px;
    height: auto;
    min-width: 147px;
    min-height: 32.5px;
    border: 3px solid black;
    border-radius: 50px;

    margin-bottom: 8px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    color: #147CB6;
    /* 佈局 */
    flex: 1 1 auto;
    align-self: center;



}

/* main > section.search > div#search-Bar > div.dropMenu > ul > select */
.dropMenu select {
    width: 250px;
    height: auto;
    min-width: 147px;
    min-height: 32.5px;
    border: 3px solid black;
    border-radius: 50px;
    margin-bottom: 8px;
    padding: 5px 15px;
    flex: 1 1 auto;
    align-self: center;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    color: var(--main-color);


}

/* main > section.search > div#search-Bar > div */
#search-Bar div {
    width: auto;
    height: auto;
    /*控制子層 */
    display: flex;
    flex-direction: column;

}

/* main > section.search > div#search-Bar > div > button.btn-changeType*/
#search-Bar .btn-changeType {
    width: 130px;
    height: 130px;
    margin-bottom: 30px;
    flex: 10 1 auto;
    visibility: hidden;
}

/* main > section.search > div#search-Bar > div > button.btn-send*/
.btn-send {
    width: fit-content;
    height: fit-content;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-radius: 50px;
    padding: 5px 40px;
    background-color: var(--btn-color);
}

/*  */
/* 首頁main > section:containers */
.containers {
    width: 80vh;
    height: fit-content;
    border: 3.5px solid black;
    border-bottom: 6px solid black;
    border-radius: 20px;
    padding: 10px 15px;
    background-color:rgba(247, 246, 245, 0.9) ;
    z-index: -2;

    align-self: center;
    flex: 1 1 auto;
    /*控制子層 */
    display: flex;
    flex-direction: column;

}

/* 首頁main > section.containers > header.title-postArea*/
.title-postArea {
    /*控制子層 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px;

}

.title-postArea h2 {
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

 h2 div {
    width: 5px;
    height: 20px;
    background-color: var(--font-color);
    margin-right: 10px;
}

.more {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: 1.5px solid black;
    border-bottom: 3px solid black;
    background-color: var(--btn-color);
    padding: 5px 10px;
}

/* 首頁main > section.containers > ul.tags*/
.tags {
    height: 25px;
    width: auto;

    /*控制子層 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

/* 首頁main > section.containers > ul.tags > button.*/
/* 臨打貼文tag */
.tags button {
    /* flex: auto; */
    height: 23px;
    width: fit-content;
    border: 2px solid var(--main-color);
    border-radius: 50px;
    margin: 0px 3px;
    padding: 4px 10px;
    background-color: transparent;
    color: var(--main-color);

    display: flex;
    justify-content: center;
    align-items: center;

}

.tags button p {
    /* text-align: center;
    padding-bottom: 10px; */
}

.tags button:checked {
    background-color: var(--main-color);
}

/* 首頁main > section.containers > ul.tags > li > #tags-degree*/
#tags-degree {
    background-color: var(--main-color);
    color: white;
}

#tags-degree:checked {
    background-color: var(--main-color);
}

/* 首頁main > section.containers > div.post*/
.post-block {
    height: 245px;
    width: auto;
    padding: 10px 0px;


    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* 首頁main > section.containers > div.post > div.content*/
.content {
    flex: 1 0 auto;
    width: 245px;
    height: 245px;
    background-image: var(--border-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.content .bg {

    position: absolute;
    top: 1;
    left: 3;
    width: 77%;
    /* 背景寬度 */
    height: 78%;
    /* 背景高度 */
    background-color: var(--main-color);
    /* 背景顏色 */
    z-index: -1;
    /* 將背景移到圖片下面 */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 首頁main > section.containers > div.post > div.content > div.text*/
.text {
    width: 144px;
    height: 144px;
    /* background-color: #14AAEB; */
    /* position:  absolute; */
    text-align: center;
    color: white;

    display: inline-flex;
    flex-direction: column;



}

/* 首頁main > section.containers > div.post > div.content > div.text >header*/
.text header {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.text  p{
    text-shadow: 1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}

/* 首頁main > section.containers > div.post > div.content > div.text >div.subtext*/
.subtext {
    display: flex;
    flex: auto;
    align-self: flex-start;
}

/* 首頁main > section.containers > div.post > div.content > div.text > small*/
.subtext p {
    margin-right: 10px;
}

.text h3 {
    flex: auto;
    align-self: flex-start;
    position: relative;

}

/* 增加h3文字外框線 */
.text h3::before {
    content: attr(value);
    position: absolute;
    -webkit-text-stroke: 4px #000000;
    z-index: -1;

}

/*  > div(post > div(content > div(text > div(tag-style */
.tag-style {
    width: fit-content;
    height: fit-content;
    
    /* display: grid;
    grid-template-columns: 76px 76px;
    gap: 10px; */
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;

}

.tag-style p {
    
    padding: 4px 8px;
    height: fit-content;
    width: fit-content;

    border-radius: 50px;
    background-color: white;
    color: var(--main-color);
    text-align: center;
    margin-right: 5px;

    text-shadow: 0 0;
}
/* 報名按鈕 */
#apply {
    flex: 1 1 auto;
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    margin-top: 5px;
    border-radius: 50px;
    padding: 5px 18px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    background-color: var(--btn-color);

}



/* 貼文區 */
/* main.filter-postArea */
.filter-postArea {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;

}

/* main.filter-postArea > div.filter-title*/
.filter-postArea .filter-title{
    width: 700px;
    height: fit-content;
    align-self: center;
  

}
.filter-postArea .filter-title .hugTitle{
    text-align: center;
    
}

/* 標題底線 */
div.hugTitle h1,div.hugTitle h2{   
    position: relative;
    color: white;
    width: fit-content;
    border-bottom: 4px solid rgba(0, 0, 0, 1);
    z-index: 0;
}
/* 增加文字外框線 */
.hugTitle h1::before,.hugTitle h2::before{
    position: absolute;
    content: attr(value); 
    -webkit-text-stroke: 4px #000000;
    z-index: -1;
}

/* main.filter-postArea  > section.filter-box*/
.filter-box {
    width: 350px;
    height: 96px;
    align-self: center;
 

    /* 子 */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* main.filter-postArea  > section.filter-box > div.fitter-info */
.fitter-info {
    width: 244px;
    height: 59px;
    border-radius: 50px;

    background: rgba(247, 246, 245, 1);
    border: 3.5px solid rgba(0, 0, 0, 1);

    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    /* 子 */
    display: flex;
    flex-direction: column;
    overflow-wrap: normal;

}
/* ... > section.filter-box > div.fitter-info > div.info-top*/
.fitter-info .info-top{
    margin: 2px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
/* ...> section.filter-box > div.fitter-info > div.info-top >a >img */
.info-top img{
    flex: 2;
    width: 16px;
    margin: 7px;
    
}
/* ...> section.filter-box > div.fitter-info > div.info-top >p */
.info-top p{    
    width: 55px; 
}
/* ...> section.filter-box > div.fitter-info > div.info-top >p.dot */
.info-top .dot{
    width: 15px;
}
/* ...> section.filter-box > div.fitter-info > div.info-down */
.fitter-info .info-down{
    align-self: center;
}

.filter-btnBox{
    width: 70px;
    padding-left: 10px;
    position: relative;
}
/* ... >div.fitter-info >div.filter-btnBox >button.#btn-filter */
#btn-filter {
    width: 58px;
    height: 58px;
    top: 4px;
    border-radius: 90px;
    border: 3px solid black;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    position: relative;
}

/* ...> section.filter-box > div.fitter-info > div > button#btn-filter >img */
#btn-filter img {

    width: 48px;
    height: 48px;
    position: absolute;
    top: 8px;
    left: 2px;
    
    /* Image: filter; */
    background-size: cover;
    

}

/* ...> section.filter-box > div.fitter-info > div > div.by-btn-filterNum */
.by-btn-filterNum {
    /* layout */
    height: auto;
    padding: 4px 7px 4px 7px;
    border-radius: 90px;
    /* color */
    background: rgba(203, 27, 27, 1);
    /* border */
    border: 1.5px solid rgba(0, 0, 0, 1);

    /* 相對#btn-filter位置 */
    position: absolute;
    top: 0;
    right: 0;

    /* 子 */
    text-align: center;
}
/* ... > div.fitter-info > div > div.by-btn-filterNum >p */
.by-btn-filterNum p {
    color:white ;


}

/* main.filter-postArea  > section.filter-box > div.filter-postQuantity */
.filter-postQuantity {
    width: 165px;
    height: 19px;
    margin-top: 30px;

}
.filter-postQuantity p {
    position: relative;
    z-index: 0;
    color: white;
}

.filter-postQuantity p::before{
    content: attr(value);
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 4px #000000;
}

/* main.filter-postArea > hr */
.filter-postArea hr {
    width: 1850px;
    height: 0px;
    align-self: center;
    border: 1px solid black;

}

/* main.filter-postArea > section.filter-containers */
.filter-containers {
    width: 108vh;
    height: auto;
    margin: 20px;
    


}

/* main.filter-postArea > section.filter-containers >div.filter-postBlock */
.filter-postBlock {
    width: 70%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow-wrap: normal;
    gap: 30px;
    

}
/* 篩選貼文區貼文 */
/* main.filter-postArea > section.filter-containers >div.filter-postBlock >div.filter-simplePostInfo */
.filter-simplePostInfo {
    width: 348px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    background: rgba(247, 246, 245, 0.9);
    border: 3.5px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 12px 0px 0px rgba(0, 0, 0, 1);

    display: grid;
    grid-template-rows: 95px 127px 36px;
    /* grid-template-rows: 0.25fr 1.2fr 0.25fr; */
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;

}

/* main.filter-postArea > section.filter-containers >div.filter-postBlock >div.filter-simplePostInfo > div.main-info */
.main-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

/* ...>div.filter-simplePostInfo > div.main-info > header */
.main-info header {
        width: auto;
        height: fit-content; 
        color: var(--main-color);
        display: grid;
        grid-template-columns: 4.9fr 1.1fr 0.7fr;
        gap:  15px;
        
        justify-content: space-between;
        align-items: center;

}
/* ...>div.filter-simplePostInfo > div.main-info > header> type-style */
.type-style{
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 4px 10px;
    background: var(--main-color);
    color: white;
    
}
/* ...>div.filter-simplePostInfo > div.main-info > div.areaInfo */
.areaInfo{
    width: auto; 
    height: auto; 
    color: var(--main-color);
    display: grid;
    grid-template-columns: 55px 55px 110px;
    gap: 7px; /* 只有在 Flexbox 或 Grid 的容器中使用 gap */
    

}
/*  ... >div(filter-postBlock >div(filter-simplePostInfo > div(sub-info */
.sub-info {
    border-radius: 5px;
    padding: 5px;
    /* 子 */
    display: grid;
    grid-template-rows: 1fr 0.9fr 0.9fr 3cqw ;
    gap: 5px;
   

}
/*  ...>div(filter-simplePostInfo > div(sub-info > h4 */
.sub-info h4{
    color: #6D6D6D;
    align-self: center;
}
.sub-info div{
    color: white;
}
.sub-info div p{
    color: var(--font-color);
}
/*  ...>div(filter-simplePostInfo > div(sub-info > div(solicitor-number */
.vacancyInfo{
    width: auto;
    height: fit-content;

    /* 子 */
    display: grid;
    grid-template-columns: 35px 25px 35px 25px 40px 45px 35px;
    gap:6px;
    justify-content: space-between;
    align-items: center;
}

/*  ...>div(filter-simplePostInfo > div(sub-info > h4 */
.vacancyInfo div{
    width: fit-content;
    height: fit-content;
    padding: 2px 5px;
    border-radius: 50px;
    background: #6D6D6D ;
    align-self: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  ...>div(filter-simplePostInfo > div(sub-info > div(ball-type */
.ballInfo{
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 6px;
    justify-content:center;
    align-items: center;
    
    
}

/*  ...>div(filter-simplePostInfo > div(sub-info > div(ballInfo */
.ballInfo h4 {
    width: fit-content;
    align-self: center;
}
/* 球場介紹... >div(filter-simplePostInfo >div(sub-info>div(equipInfo*/
.equipInfo{
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 6px;
}
/* 備註... >div(filter-simplePostInfo>div(sub-info>div(noteInfo*/
.noteInfo{
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 6px;
}
.filter-simplePostInfo > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*  */
/* 發文表單頁 */
/* main(form-formArea */
main.form-formArea{
    height: max-content;
    /* margin-bottom: 10px; */
   
    /* 子 */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 發文表單標題 */
main div.form-title{
    /* layout */
    width: 700px;
    height: fit-content;
    margin: 0 50px;
    margin-bottom: 50px;

    /* child */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
/* 類別按鈕+表單+預覽區 */
main section.form-container{
    width: fit-content;
    height: fit-content;
    padding: 0px 200px;

    display: grid;
    grid-template-columns: 339px 378px;
    gap: 20px;

}
/* 表單容器 */
.form-block{
    display: grid;
    grid-template-rows: 30px 645px;
    gap: 3px;

}
/* 貼文管理按鈕 */
main div button#btn-postManage{
    /* layout */
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 2px solid black;
    padding: 9px 18px;
    background-color: var(--btn-color);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    /* child */
    display: grid;
    grid-template-columns: 64px 20px;
    gap: 10px;
}
/* 切換表單按鈕容器 */
main div.form-type{
    width: 365px;
    height: fit-content;
    align-self: flex-start;
   

    display: flex;
    justify-content: space-between;
}
/* 切換表單按鈕容器:打羽球 */
#btn-formBM{
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    padding: 5px 25px;
    background-color: rgba(247, 246, 245, 0.9);
    color:#689607 ;
}
/* 切換表單按鈕容器:打排球 */
#btn-formVB{
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    padding: 5px 25px;
    background-color: rgba(247, 246, 245, 0.9);
    color: #147CB6;
}
/* 按鈕被選中 */
button#btn-formBM.selected,button#btn-formVB.selected {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5px 25px;
    color: black;
    background-color: var(--main-color);
    border: 0px;
    box-shadow: none;

    position: relative;
    
}
/* 選中時陰影 */
button#btn-formBM.selected::before,button#btn-formVB.selected::before{
    content: '';
    position: absolute;
    top: 20px;
    box-shadow: inset 0px 10px 0px black ;
}


/* 表單元素容器 */
.form-edit{
    width: 339px;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px 15px;

    display: grid;
    grid-template-rows: 20px 330px 20px 197px;
    gap: 15px;
}
/* 表單標題 */
.sub-title h2{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* padding: 20px 10px; */

}
/* 表單標題外框線 */
.sub-title h2 div{
    background-color: black;
}
/* 必填表單容器 */
.form-options{
    width: 309px;
    height: 317px;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding-left: 20px;
    /* child */
    display: grid;
    grid-template-rows: auto;
}
/* 內容表單元素標題 */
.form-options label {
    width: 330px;
    display: grid;
    grid-template-columns:32px 1fr ;
    gap: 10px;
    
}
/* 所有<label>下<input> */
.form-options label input{
    width: 100px;
    height: 20px;
    border-radius: 50px;
    border: 2.5px solid black;
    padding:  0px 15px;
    align-items: center;
}
/* 時段 */
.form-options label:nth-child(2){
    display: grid;
    grid-template-columns: 32px 80px 5px 80px;
}
.form-options label:nth-child(2) input{
    width: 50px;
}
/* 地區<label> */
.form-options label:nth-child(3){
    display: grid;
    grid-template-columns: 32px 100px 1fr;
}
/* 地區 類型 程度<select> */
.form-options label:nth-child(3) select,.form-options label:nth-child(5) select,.form-options label:nth-child(8) select{
    width: 100px;
    height: 25px;
    padding-left: 10px;
    border-radius: 50px;
    border: 2.5px solid black;
}
/* 缺額<label> */
.form-options label:nth-child(7){
    display: grid;
    grid-template-columns: 32px 75px 75px 70px;
    gap: 10px;
}
/* 缺額<label>下的<input> */
.form-options label:nth-child(7) input{
    width: 45px;
    padding-left: 10px;
}
/* 選填表單容器 */
.form-subOptions{
    width: 309px;
    height: 197px;
    margin-top: 10px;
    padding-left: 20px;

    display: grid;
    grid-template-rows: auto;
    
}
/* 選填表單容器下所有<label> */
.form-subOptions label {
    width: 330px;
    display: grid;
    grid-template-columns:75px 1fr ;
    gap: 10px;
    
}
/* 選填表單容器下所有<label>下的<input> */
.form-subOptions label input{
    width: 150px;
    height: 20px;
    border-radius: 50px;
    border: 2.5px solid black;
    padding:  0px 15px;
    align-items: center;
}
/* 選填表單容器下所有<label>下的<select> */
.form-subOptions label select {
    width: 135px;
    height: 25px;
    padding-left: 10px;
    border-radius: 50px;
    border: 2.5px solid black;
}
/* 預覽容器 */
.form-review{
    width: 395px;
    height: 610px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 35px ;
    margin-left: 30px;
    padding: 20px 15px;

    display: grid;
    grid-template-rows:28px 324px 40px ;
    gap:100px
}
/* 預覽送出按鈕 */
.form-review button.btn-send{
 margin-left: 140px;
}

/*  */
/* 通知頁面 */

/* main容器 */
.notice-Area{
    width: 80vh;
    height: auto;

    display: grid;
    grid-template-rows:29px 47px 30px 390px 24px 340px ;
    gap:25px ;
}
/* 通知類別容器 */
.notice-type{
    width: 80vh;
    height: fit-content;

    display: grid;
    grid-template-columns:110px 110px ;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
/* 通知類別按鈕 */
.notice-type button{
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 9px 18px;
    background-color: rgba(155, 58, 232, 0.9);
    color: rgba(247, 246, 245, 0.9);
    border: 2px solid black;
    box-shadow: 0px 4px 0px 0px black;

}
/* 按鈕選中 */
button#btn-itinerary.selected,button#btn-pastRecords.selected{
    background-color:rgba(74, 13, 150, 0.9);
    border: none;
    box-shadow: none;
}
/* 副標容器 */
.notice-itineraryTitle{
    width: 80vh;
    margin-left: 50px;

    display: grid;
    grid-template-columns: 75px 80px;
    gap: 15px;
    align-content: center;
    justify-content: start;
    align-items: center;
    justify-items: center;

}
/* 主辦按鈕 */
.btn-sponsor{
    width: fit-content;
    height: 30px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: rgba(247, 246, 245, 0.9);
    box-shadow: 0px 4px 0px 0px black;
    padding: 3px 8px;

    display: grid;
    grid-template-columns: 25px 40px;
    gap: 3px;
}
/* 預定行程容器 */
.notice-itineraryArea{
    width: 80vh;
    height: 300px;
    margin-top: 30px;

    display: grid;
    grid-template-columns: 450px 450px;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* 通知元件容器 */
.notice-container{
    width: 422px;
    height: fit-content;
    border-radius: 50px;
    border: 3px var(--border-type)black;
    padding: 8px 8px 8px 17px;
    color: var(--font-color);
    background-color: rgba(247, 246, 245, 0.9);

    display: grid;
    grid-template-columns: 50px 341px;
    gap: 10px;
    justify-content: start;
    align-items: center;

}
/* 羽or排 */
.notice-ballType{
    width: 45px;
    height: 45px;
    border-radius:50px ;
    background-color: var(--font-color);
    text-align: center;
    color: rgba(247, 246, 245, 0.9);

}
/* 元件資訊 */
.notice-info{
    width: auto;
    height: fit-content;

    display: grid;
    grid-template-columns: 103px 119px 100px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
/* 元件資訊:日期時間 */
.notice-info > div:first-child {
    width: 103px;
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 5px;
}
/* 評價狀態 */
.notice-info > div:last-child{
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 1px solid var(--evaluate-color);
    padding: 4px 8px;

    color: var(--evaluate-color);
}
.notice-pastRecordsArea{
    display: none;
}
.custom-dashed-border {
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, black 10px, transparent 0);
    background-position: left top;
    background-size: 10px 3px; /* 這裡的第一個值（10px）是虛線的長度，第二個值（2px）是虛線的寬度 */
  }

/* RWD */
/* 桌機 */
@media(max-with:820px) {}

/* 平板 */
@media (max-with:768px) {}

/* 手機 */
@media (max-with:640px) {}