@import "_varible";

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


@font-face {
  font-family: "jf open 粉圓 2.0";
  src: url(./jf-openhuninn-2.0.ttf);
}

.noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@import "reset";
@keyframes cube-rotate {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }}

/* 變數區 */
:root {
  --main-color: #14aaeb;
  --btn-color: #f1db15;
  --font-color: #147cb6;
  //hover表單顏色
  --input-hover-color:#B1C3E8;
  /* 路徑 */
  --border-image: url("../../images/catframe.png");
  --background-image: url("../../images/bg.png");
  --search-decorate: url("../../images/index-searchCat.png");
  --ellipseBar-image:url("../../images/bmellipsebar.png");
  --mobileTop-image:url("../../images/mobiletopvb.svg");
  /* 行程 */
  --border-type: solid;
  --evaluate-color: #1a8d07;
  /* 篩選條件數 */
  --filter-num:"0";
}

/* 共用區 */
/* 標題文字 */
h1,
.title-L {
  font-size: $font-size-title-l;
  font-style: normal;
}

h2,
.title-M {
  font-size: $font-size-title-m;
  font-style: normal;
}

h3,
.text-L {
  font-size: $font-size-text-l;
  font-style: normal;
}
h5,
.text-s {
  font-size: $font-size-text-s;
  color: $second-color-gray;
}

.title {
  /* layout */
  width: 60vw;
  max-width: 1000px;
  min-width: 340px;
  height: 50px;
  margin: 0 auto;
  justify-content: center;

  /*標題前後圖片*/


  /* child */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media ($breakpoint-moblie) {
    /* layout */
    min-width: 300px;
    margin: 20px 0px;
    /* child */
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: space-around;
    align-items: center;
  }
}
/* 有包按鈕的標題 */
.form-title {
  /* layout */
  width: 60%;
  max-width: 700px;
  min-width: 340px;
  height: 50px;/* 這樣hover時才不會縮小 */
  margin: 0 50px;

  /* child */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media ($breakpoint-moblie) {
    /* layout */
    min-width: 375px;
    margin: 20px 0px;
    /* child */
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-around;
    align-items: center;
  }
}
.hugTitle {
  width: 100%;
  text-align: center;
  flex: auto;
  margin-left: 20px;
  display: flex;
  gap: 8px;
  letter-spacing: 5px;

  img{
    width: 34px;
    height: 34px;
  }

  @media screen and ($breakpoint-md) {
    font-size: $font-size-text-l;
    letter-spacing: 3px;

    img {
      display: none;
    }
  }
}




/* 標題底線 */
div.hugTitle h1,
div.hugTitle h2 {
  position: relative;
  color: $second-color-white;
  width: fit-content;
  // border-bottom: 4px solid $border-black;
  z-index: 0;

}
/* 增加文字外框線 */
.hugTitle h1::before,
.hugTitle h2::before,
.hugTitle::before {
  position: absolute;
  content: attr(value);
  -webkit-text-stroke: 4px $second-color-black;
  z-index: -1;
}


/* 標題前的線 */
h2 div {
  width: 5px;
  height: 20px;
  background-color: var(--font-color);
  margin-right: 10px;
}

.sponsored-title {
  width: 95%;
  height: fit-content;
  justify-self: flex-start;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: space-between;
}
/* 包有線標題的容器 */
.line-hugTitle {
  grid-column: 1/5;
  display: flex;
  flex-direction: row;
  align-items: center;
  h2{
    color: $second-color-white;
    text-shadow:
        1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
  }
}

/* 標題前的直線 */
.titleLine {
  width: 5px;
  height: 20px;
  background-color: $second-color-black;
  margin-right: 10px;

}

/* 包左、右按鈕的容器 */
.titleArrowBtn {
  grid-column: 5;
  width: 60px;
  display: grid;
  grid-template-columns: 10px 10px;
  gap: 41px;
}

/*  */
p,
.text-M,
button,
label,
select,
input {
  font-size: $font-size-text-m;
  font-style: normal;
}

small,
.text-S {
  font-size: $font-size-text-s;
  font-style: normal;
}
small {
  color: $second-color-gray;
}
/* 移除有序和無序列表的預設樣式 */
ul {
  list-style: none;
}

a {
  display: block;
  /* 拿掉超連結文字底線 */
  text-decoration: none;
  color: $second-color-black;
  z-index: 1;
  img {
    margin: 0 auto;

    max-width: 50px;
    min-width: 18px;
  }
}

section {
  margin-bottom: 10px;
  /* 控制子層 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  display: block;
  width: 100%;
}
.img-border {
  border-radius: $border-radius-half;
  border: 5px solid $border-black;
}
.svg {
  background: rgba(247, 246, 245, 0.9);
}
/* 所有input */
input,
select {
  border-radius: $border-radius-50;
  border: 2.5px solid $border-black;
  box-shadow: 0 4px 0 0 $box-shadow;
  padding: 4px 10px;

  &:active,
  &:hover {
    box-shadow: none;
    background-color: var(--input-hover-color);
    color: $background-color-white !important;
  }
}

/* 全域 */
* {
  margin: 0;
  padding: 0;
}
/* 包react的 */
body {
  width: 100%;
  height: 100%;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  /* 防止背景圖片重複 */
  background-size: cover;
  /* 確保背景圖片填滿整個容器 */
  background-attachment: fixed;
  /* 讓背景圖片固定不動 */
  background-position: center center;
  /* 讓背景圖片在容器中置中 */
  font-family: $font-family-en, $font-family-tc;
  overflow-x: hidden;
  z-index: -10;
}

.background-Bm {
  background-image: url(/images/DogBg\ .jpg);
}

.background-Vb {
  background-image: url(/images/CatBg.jpg);
}

.background-both {
  background-image: url(/images/BothBg.jpg);
}
/* react下的root */
// #root {
//   position: absolute;
//   z-index: -21;
// }
/* 包渲染內容的容器 */
.body {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  position: relative;
  /* display: grid;
  grid-template-rows: 125px 1fr 100px; */
  //display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  align-items: center;
  justify-content: center;

  // z-index: -9;
}

/*  */
/* header */
#topBar {
  width: 80%;
  margin: 0 auto;
  /* header置中 */
  align-self: center;
  /* header置中 */
  margin-bottom: 2vh;

  /* 控制子層 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.mobile-TopBar {
  width: 100vw;
  display: none;
  //position: absolute;
  top: 0;
  img{
    width: 100%;
    height: fit-content;
  }
}

/*  */
/* 導覽列容器 */
#top-nav {
  /* 父 */
  width: 55vw;
  flex: auto;
  margin: 20px;
  display: inherit;
  z-index: 10;

  // @media ($breakpoint-moblie) {
  //   /* 父 */
  //   width: 60vw;
  //   min-width: 320px;
  //   align-self: center;
  // }
}
//手機
@media ($breakpoint-moblie) {
  #top-nav {
    width: 60vw;
    align-self: center;
    min-width: 320px;
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
    z-index: 15;
  }

  .mobile-TopBar {
    align-self: center;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .mobile-TopBar img {
    width: 100%;
  }
}
/* ul容器包連結 */
#menu {
  /* 樣式 */
  width: 100%;
  height: 50px;
  border: 3px solid $second-color-black;
  border-bottom: 5px solid $second-color-black;
  border-radius: $border-radius-20;
  background-color: white;
  /* 控制子層 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 5vw;

  @media ($breakpoint-md) {
    width: 90%;
  }

  li {
    flex: 1 0 auto;
    /* padding-left: 100px; */
    /* 控制子層 */
    display: flex;
    justify-content: center;

    a {
      width: 50%;
      /* 樣式 */
      padding: 1px;
      /* 控制子層 */
      display: flex;
      gap: 3px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  .icon {
    flex: 0 1 auto;
    /* 樣式*/
    width: 32px;
    height: 32px;

  }
}
/*  */
/* 主內容 */
main {
  width: 100vw;
  margin-bottom: 1vh;
  /* 保持與底部距離 */
  @media($breakpoint-moblie) {
    margin-bottom: 5vh;
  }
}

/*  */
/* 頁尾 */
footer {
  height: 100px;
  width: 100vw;
  background-color: $background-color-gray;
  background-size: cover;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;

  @media (max-width: 640px) {
    display: none;
  }

  div {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: white;
      width: 237px;
      margin-left: 10px;
      text-align: center;
    }
  }

  .footer-border {
    width: auto;
    height: 21px;
    background-image: url("../../images/logo2.png");
    background-size: 24px;
    background-repeat: repeat;
    background-position: center;
  }
  /* logo */
  #logo {
    width: 35px;
    height: 33px;
    margin-left: 10px;
    flex: 1 0 auto;
  }
}
// 當超過視窗高度超過1080px時
.hiFooter{
  footer{
    bottom: -120px;
  }
}
/* 元件 */
/* tag樣式 */
.tag-style {
  width: fit-content;
  height: fit-content;

  /* layout */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  p{
    height: fit-content;
    width: fit-content;
    border-radius: 50px;
    //border: 1px solid var(--font-color);
    background-color: var(--font-color);
    color: $second-color-white;

    text-align: center;
    padding: 4px 8px;
    margin: 5px;

    text-shadow: 0 0;
  }
  h4 {
    margin-right: 10px;
  }
  .tagMargin {
    margin: 0;
    margin-right: 5px;
  }
}
/* 按鈕tag樣式 */
.tags {
  height: max-content;
  width: 95%;
  /* 和貼文標題一樣 */
  margin: 0 auto;
  /* 水平居中 */

  /*控制子層 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
  h4{
    margin-right: 10px;
  }
  a,button {
    /* 臨打貼文tag */
    /* flex: auto; */
    height: 23px;
    width: fit-content;
    border: 2px solid var(--main-color);
    border-radius: $border-radius-50;
    margin: 0px 3px;
    padding:10px 10px;
    background-color: $background-color-lightwhite-s;
    color: var(--font-color);
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 23px;
    &:hover {
      cursor: pointer;

      opacity: 1;
    }
    &:active {
      background-color: var(--font-color);
      color: $background-color-lightwhite-s;
    }

    // p {
    //   /* text-align: center;
    //   padding-bottom: 10px; */
    // }

  }
  .active{
      background-color: var(--font-color);
      color: $background-color-lightwhite-s;
      opacity: 1;
    }
  .custom-checkbox {
    position: relative;
    padding-left: 10px; /* 为复选框留出空间 */
    cursor: pointer;

    &::before {
      content: "好團主";
      position: absolute;
      top: 0;
      left: 0;
      width: max-content; /* 复选框的宽度 */
      height: 20px; /* 复选框的高度 */
      border-radius: $border-radius-50;
      border: 1px solid --main-color; /* 复选框的边框 */
      background-color: $second-color-white; /* 复选框的背景色 */
      padding: 5px;
    }
    &::after {
      content: ""; /* 或其他你想要的内部文字 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #000; /* 内部文字的颜色 */
      font-size: 16px; /* 内部文字的大小 */
      opacity: 0; /* 默认隐藏内部文字 */
    }

    input[type="checkbox"] {
      display: none; /* 隐藏原生复选框 */
    }

    input[type="checkbox"]:checked,
    &::before {
      background-color: var(--main-color); /* 当复选框被选中时的背景色 */
      color: $second-color-white;
    }

    input[type="checkbox"]:checked,
    &::after {
      opacity: 1; /* 显示内部文字 */
    }
  }
}
/* 按鈕樣式 */
//裝按鈕的容器
.BtnContainer {
  height: 40px;
  /* layout */
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: center;
  /* 如果在grid內 */
  grid-column: 1 / auto;
  a {
    width: fit-content;
  }
}
%button,%a{
  width: fit-content;
  max-height: 50px;
  margin-top: 5px;
  padding: 5px 18px;
  border-radius: $border-radius-btn;
  border: 2px solid $border-black;
  border-bottom: 5px solid $border-black;
  /* 布局 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*  */
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    margin-top: 0px;
    box-shadow: 0 6px $border-black;
    cursor: pointer;
  }
  &:active {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    margin-top: 7px;
    padding-top: 3px;
    padding-bottom: 0px;
    color: $background-color-lightwhite-s;
    background-color: $background-color-deepGrey;
    border-bottom: -1px solid $second-color-black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-shadow: none;
  }
}
.button {
  background-color: var(--btn-color);
  width: fit-content;
  max-height: 50px;
  margin-top: 5px;
  padding: 5px 18px;
  border-radius: $border-radius-btn;
  border: 2px solid $border-black;
  // border-bottom: 5px solid $border-black;
  box-shadow: 0px 3px 0px 0px $second-color-black;
  /* 布局 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*  */
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    margin-top: 0px;
    box-shadow: 0 5px $border-black;
  }
  &:active {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    margin-top: 7px;
    padding-top: 3px;
    padding-bottom: 0px;
    color: $background-color-lightwhite-s;
    background-color: $background-color-deepGrey;
    border-bottom: -1px solid $second-color-black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-shadow: none;
  }
}
/* 收藏按鈕 */
.collect{
  background-color: transparent;
}
/* 關閉按鈕 */
.btn-close {
  background-color: $background-color-lightgrey;
  width: fit-content;
  height: fit-content;

  margin-top: 5px;
  padding: 5px 18px;
  border-radius: $border-radius-btn;
  border: 2px solid black;
  border-bottom: 5px solid black;
  .selected,
  :active {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding-top: 3px;
    padding-bottom: 0px;
    color: black;
    background-color: var(--main-color);
    border-bottom: 7px solid var(--main-color);
    border-top: 6px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-shadow: none;
  }
}
/* 接受按鈕 */
.btn-yes {
  background-color: var(--main-color);
  color: $background-color-lightwhite-s;
}
/* 婉拒按鈕 */
.btn-no {
  background-color: $btn-color-red;
  color: $background-color-lightwhite-s;
}
/* 燈箱效果 */
.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  right: 0;

  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: 0.64s ease-in-out;
  &-inner {
    position: relative;
    z-index: 999;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 90vw;
    max-height: 90vh;
    width: 80%;
    height: 80%;
    background-color: #ffffff00;
    transform: rotate(32deg);
    transition: 0.64s ease-in-out;
  }
  &-static {
    position: relative;
    z-index: 999;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    max-width: 500px;
    max-height: 200px;
    width: 60%;
    height: 80%;
    background-color: #ffffff00;

  }
  &__content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: visible;


  }
  &__photo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    height: 100%;
    overflow: hidden;
    img {
      width: auto;
      height: 100%;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 4rem;
    h1 {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 2rem;
      text-transform: uppercase;
      color: #0a0a0a;
    }
    p {
      font-size: 0.875rem;
      color: #686868;
      line-height: 1.5;
    }
  }
  &:target {
    visibility: visible;
    opacity: 1;
    .popup-inner {
      bottom: 0;
      right: 0;
      transform: rotate(0);
    }
  }
  &.visible {
    visibility: visible;
    opacity: 1;

    .popup-inner {
      bottom: 0;
      right: 0;
      transform: rotate(0);
    }
  }
  &__close {
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
  .ani{
    transform: perspective(250px);
    transform-style: preserve-3d;
    animation: cube-rotate 1s ease-in-out;
    animation-delay:3s;
  }
  .notice-apply{
    /* 動畫 */
    transform: perspective(250px);
    transform-style: preserve-3d;
     animation: cube-rotate 0.5s  ease-in-out;
  }
}


/* 簡略貼文資訊元件 */
.simplePostInfo {
  flex: 0 1 auto;
  /*  */
  width: 90%;
  max-width: 20vw;
  min-width: 300px;
  min-height: 310px;
  max-height: 90vh;
  border-radius: 20px;
  background: $background-color-white;
  border: 3.5px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 12px 0px 0px #000000;

  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  justify-content: flex-start;
  align-items: flex-start;


  .main-info {
    /*貼文元件-主資訊*/
    width: 100%;
    height: 80%;
    max-height: 140px;

    flex: 1 0 auto;
    display: grid;
    grid-template-rows: repeat(3, minmax(25px,1fr));
    justify-content: space-between;
    align-items: center;
    row-gap: 5px ;
    //元件第一行
    .header {
      /* self-layout */
      grid-column: 1/3;
      grid-row: 1;
      /*  */
      width: 100%;
      height: fit-content;
      color: var(--font-color);
      font-size: $font-size-text-l;
      /* layout */
      display: grid;
      grid-template-columns: repeat(9,auto);
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      p {
        /*  */
        grid-column: 1/7;
        flex: 1 0 auto;
        gap: 10px;
      }
      //羽球or排球
      .type-style {
         /* self-layout */
        grid-column: 8;
        /*  */
        min-width: 30px;
        width: fit-content;
        height: fit-content;
        background: var(--main-color);
        color: white;
        border-radius: 20px;

        padding: 4px 10px;
        text-align: center;

        p {
          font-size: $font-size-text-s;
        }
      }
      a {
         /* self-layout */
         grid-column: 9;
        /*  */
        width: 8%;
        margin-right: 10px;
      }
      img {
        margin: 0 auto;
        flex: auto;
        min-width: 18px;
      }
    }
    //地區
    .areaInfo {
      /* self-layout */
      grid-column: 3/1;
      grid-row: 2;
      /* style */
      width: auto;
      height: auto;
      color: var(--font-color);
      font-size: $font-size-title-m;
      /* layout */
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }

    //tag布局
    .tag-style {
      /* tag布局 */
      grid-column: 1/3;
      grid-row: 3;
      p{
        margin-left: 0;
      }
    }
  }

  ///*貼文元件-副資訊/div(simplePostInfo > div(sub-info */
  .sub-info {
    border-radius: 5px;
    padding-left: 10px;
    /* 子 */
    display: grid;
    // grid-template-rows: 1fr 0.9fr 0.9fr 2fr;
    grid-auto-rows: auto;
    gap: 5px;
    h4 {
      color: #6d6d6d;
      align-self: center;
    }
    div {
      width: 90%;
      color: white;
    }
    div p {
      color: var(--font-color);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    /*  ...>div(filter-simplePostInfo > div(sub-info > div(solicitor-number */
    .vacancyInfo {
      // width: auto;
      height: fit-content;

      /* 子 */
      display: grid;
      grid-template-columns: 35px 25px 35px 25px 40px 45px 35px;
      gap: 6px;
      justify-content: space-between;
      align-items: center;

      div {
        width: fit-content;
        height: fit-content;
        padding: 2px 5px;
        border-radius: 50px;
        background: $background-color-deepGrey;
        align-self: center;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    /*  */
    .ballInfo {
      // width: auto;
      height: fit-content;
      display: grid;
      grid-template-columns: 35px 1fr;
      gap: 6px;

      align-items: center;
      h4 {
        width: fit-content;
        align-self: center;
      }
    }
    /* 設備/... >div(filter-simplePostInfo >div(sub-info>div(equipInfo*/
    .equipInfo,
    .posInfo {
      // width: auto;
      height: fit-content;
      display: grid;
      grid-template-columns: 35px 1fr;
      gap: 6px;
    }

    /* 備註/... >div(filter-simplePostInfo>div(sub-info>div(noteInfo*/
    .noteInfo {
      // width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: 35px 1fr;
      gap: 6px;


    }
  }

  //貼文元件-報名資訊
  .apply-info {
    width: 100%;

    display: grid;
    grid-template-columns: 0.2fr 1fr;

    grid-auto-rows: min-content;
    gap: 15px;
    justify-content: center;
    align-items: center;
    //
    hr {
      grid-column: 3/1;
      grid-row: 1;
      width: 100%;
      border: 1px solid black;
      //
      align-self: flex-end;
    }

    img {
      grid-column: 1;
      grid-row: 2;

      width: 100%;
    }
    p {
      grid-column: 2;
      grid-row: 2;
      display: flex;
      flex-direction: column;
      gap: 10px;
      // span {
      // }
    }
    div {
      //布局
      grid-column: 1/3;
      grid-row: 3;
      //樣式
      min-height: 50px;
      border-radius: 10px;

      padding: 10px;
    }
  }

  //團主查看貼文元件
  .auditList {
    /* 團主查看貼文元件 */
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    .applicant-container {
      width: 100%;
      height: 72px;
      display: grid;
      grid-template-columns: repeat(3, 80px);
      justify-content: start;
      align-items: center;
      align-content: center;

      a {
        width: 100%;
        height: 100%;
        flex: auto;

        position: relative;

        img {
          width: 50%;
          margin: 0 auto;
        }
        .notice-new {
          position: absolute;
          top: -5px;
          right: 0px;

          border: 1px solid $border-black;
          border-radius: $border-radius-50;
          padding: 1px 5px;
          background-color: $btn-color-red;
          color: $second-color-white;
          font-size: $font-size-text-s;
        }
      }
    }
  }

  .evaluateContainer{
    /* 團主評價元件 */
    width: 90%;
    height: fit-content;
    //layout
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(65px,75px));
    column-gap: 10px;
    justify-content: start;
    align-items: center;
    justify-items: center;
    .evaluatePlayerList{
      /* 臨打者列表 */
      width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 1vh;
        .playerName{
          /* 包頭像和姓名 */
          display: flex;
          flex-direction: column;
          align-items: center;
          img{
            width: 60px;
          }
        }
        .evaluateState-no{
          /* 未評價標籤 */
          border-radius: $border-radius-50;
          background-color: $btn-color-red;
          color: $second-color-white;
          padding: 2px 8px;
          line-height: 25px;
        }
        .evaluateState-yes{
          /* 已評價標籤 */
          border-radius: $border-radius-50;
          background-color:var(--main-color);
          color: $second-color-white;
          padding: 2px 8px;
          line-height: 25px;
        }
      }
    }

  
}
.evaluateForm{
  /* 審核容器 */
  width: 55%;
  height: fit-content;
  border-radius: $border-radius-20;
  border: 1px solid $border-black;
  background-color:$background-color-white;
  //layout
  align-self: center;//自己置中
  padding: 20px;
  margin: 0 auto;
  grid-row: 4;
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
  align-items: center;

  .info-selfState{
    /* 被審核者資訊 */
    width: 80%;
    min-width: 200px;
    max-width: 100%;
    border: none;
    background-color: inherit;
    padding: 5%;
    gap: 1.5vh;
  }

  .component-writeBlock{
    /* 備註輸入框 */
    width: 80%;
    //團主樣式
    border: 1px dashed $border-black;
    h5{
      color: $second-color-black;
    }

  }
  .evaluateOption{
      /* 審查選項 */
      align-self: flex-start;
      margin-left: 20px;
      //
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      justify-content: center;
      h5{
        font-size: $font-size-title-m;
        color: var(--font-color);
      }
      input{
        box-shadow: none;
      }
    }

  .BtnContainer{
    width: 90%;
    align-self: center;
  }
}
/* 詳細貼文資訊 */
.detailPostInfo{
  .sub-info{
    div p {
      color: var(--font-color);
      overflow:visible;
      white-space: wrap;
    }
  }
}

/* 行程元件 */
.notice-container {
  width: 80%;
  height: fit-content;
  border-radius: $border-radius-50;
  border: 3px var(--border-type) $border-black;
  padding: 8px 8px 8px 17px;
  color: var(--font-color);
  background-color: $background-color-white;
  /* layout */
  display: grid;
  grid-template-columns: 13% 85%;
  gap: 2%;
  justify-content: start;
  align-items: center;
  justify-items: end;


  @media ($breakpoint-moblie) {
    width: 88vw;
    min-width: 280px;
    max-width: 378px;
    /* 375*0.88vw */
    grid-template-columns: 14% calc(85% - 6px);
    padding: 6px;
    gap: 0;
  }
}

/* 羽or排 */
.notice-ballType {
  width: 100%;
  height: 50px;
  border-radius: $border-radius-90;
  background-color: var(--font-color);
  color: $background-color-lightwhite-s;
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 30px;
  }
}

/* 元件資訊 */
.notice-info {
  width: 90%;
  height: fit-content;
  /* layout */
  display: grid;
  grid-template-columns: 20% 40% 40%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  justify-items: center;

  @media ($breakpoint-moblie) {
    gap: 3%;
    grid-template-columns: 25% 36% 36%;
  }

  > p {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media ($breakpoint-moblie) {
  .notice-info > div:first-child {
    width: 100%;
    /* layout */
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .notice-ballType p {
    font-size: 1.8rem;
  }
}

/* 評價狀態 */
.notice-info > div:last-child,
.audit-state {
  width: fit-content;
  height: fit-content;
  border-radius: $border-radius-50;
  border: 1px solid var(--evaluate-color);
  padding: 4px 8px;

  color: var(--evaluate-color);
}
/* 確定取消狀態 */
.audit-cancel {
  justify-self: flex-end;
}
.notice-pastRecordsArea {
  display: none;
}

.custom-dashed-border {
  border: none;
  border-radius: $border-radius-50;
  background-image: linear-gradient(to right, $second-color-black 10px, transparent 0);
  background-position: left top;
  background-size: 10px 3px;
  /* 這裡的第一個值（10px）是虛線的長度，第二個值（2px）是虛線的寬度 */
}

/* 通知報名審核中元件 */
.notice-apply {
  /* style */
  width: fit-content;
  height: fit-content;
  border-radius: $border-radius-20;
  border: 2px solid $border-black;
  background-color: $second-color-white;
  /* layout */
  padding: 15px 20px;
  /* child */
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: var(--font-color);


  p {
  }
  a {
    width: fit-content;
    height: fit-content;
    img {
    }
  }
}
/* 通知註冊成功元件 */
.notice-register {
  /* style */
  width: fit-content;
  height: fit-content;
  border-radius: $border-radius-20;
  border: 2px solid $border-black;
  background-color: $second-color-white;
  /* layout */
  padding: 15px 20px;
  /* child */
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: $background-color-purple-s;
  p {
  }
  img {
    width: 10px;
    height: 10px;
  }
}
/* 篩選元件 */
.filterFormBox {
  /* 樣式 */
  min-width: 200px;
  width: 300px;
  height: auto;
  /* 布局 */
  align-self: center;
  margin: 50px 0px;

  /* 控制子層 */
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media ($breakpoint-moblie) {
    /* 樣式 */
    min-width: 320px;
    width: 90vw;
    height: auto;
    /* 布局 */
    flex: 1 1 auto;
    align-self: center;
    /* margin: 50px 0px; */
    /* 控制子層 */
    display: flex;
    flex-direction: column;
    gap: 0;
    /* justify-content: center;
    align-items: center; */
  }

  .btn-changeFilter {
    /* 打羽球、打排球按鈕容器*/
    display: flex;
    max-width: 340px;
    min-width: 250px;
    height: fit-content;

    @media ($breakpoint-moblie) {
      display: block;
      min-width: 320px;
    }
  }

  #search-Bar {
    /* 裝篩選表單+按鈕的容器 */
    /* 樣式 */
    max-width: 340px;
    min-width: 320px;
    height: fit-content;
    border: 4px solid $border-black;
    border-bottom: 15px solid $border-black;
    border-radius: $border-radius-20;
    background-color: $main-color-vb;
    /* 布局 */
    flex: 15 1 40px;
    padding: 15px;
    /* 控制子層 */
    display: flex;
    flex-direction: row;
    position: relative;
    div {
      height: 100%;
      /*控制子層 */
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
    }
    .searchBtn-box {
      display: grid;
      grid-template-rows: 170px 40px;
      #btn-typeVb {
        /* 樣式 */
        width: 120px;
        height: 120px;
        border: 4px solid $border-black;
        background-color: $background-color-white;
        box-shadow: 5px 5px 4px $box-shadow;
        border-radius: $border-radius-90;
        margin-bottom: 30px;

        opacity: 0.5;
        /* 子層 */
        display: none;
        align-items: center;
        justify-content: center;

        img {
          pointer-events: none;
          width: 100%;

          /*object-fit: cover;  裁剪圖片，使其填滿元素
          object-position: center; /* 圖片位置 */
          opacity: 0.7;
        }
      }

      /* main > section(search > div(search-Type > button */
      #btn-typeBm {
        /* 樣式 */
        width: 120px;
        height: 120px;
        border: 4px solid $main-color-bm;
        background-color: $background-color-lightgrey;
        box-shadow: 5px 5px 4px $box-shadow;
        border-radius: $border-radius-90;
        opacity: 0.1;
        /* 子層 */
        display: none;
        align-items: center;
        justify-content: center;

        img {
          pointer-events: none;
          width: 30%;
          opacity: 0.7;
        }
      }

      button#btn-typeBm.selected,
      button#btn-typeVb.selected {
        /* 樣式 */
        width: 120px;
        height: 120px;
        background-color: $second-color-white;
        border: 4px solid $border-black;
        border-radius: $border-radius-90;
        box-shadow: 5px 5px 4px $box-shadow;
        margin-bottom: 30px;
        opacity: 1;
        padding: 10px;

        /* 子層 */
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          opacity: 1;
          width: 100%;
          pointer-events: none;
          object-fit: cover;
          /* 裁剪圖片，使其填滿元素 */
          object-position: center;
          /* 圖片位置 */
        }
      }
      #search-Type {
        /* 包羽球or排球圖案的容器 */
        width: 100%;
        /* 羽排圖片 */
        display: flex;;
        /* 控制子層 */
        text-align: center;
      }
    }
  }
}
/* 團主審核報名元件 */
.audit-apply {
  max-width: 360px;
  min-width: 300px;
  height: fit-content;
  border-radius: $border-radius-20;
  border: 2px solid $border-black;
  padding: 15px;
  background-color: $background-color-white;
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  .topBtn-container {
    /* 黑名單+關閉按鈕容器 */
    width: 100%;
    height: auto;
    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .popup__close {
      width: 5%;
      margin-right: 10px;
    }
    a {
      width: fit-content;
    }
  }
  .audit-info {
    /* 報名資訊容器 */
    width: inherit;
    height: auto;

    /*  */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    .info-selfState {
      width: 40%;
      border: none;
      background-color: inherit;
      gap: 10px;
      padding: 0;
      .selfState-userInfo {
        width: 90%;
        justify-items: center;
        align-items: center;
        gap: 0px;

        .applicantInfo {
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: center;
          .applicantImg {
            width: 60%;
          }
          p {
            color: $second-color-black;
          }
        }
        .applicantImg {
          width: 60%;
        }

        .reason-cancel {
          grid-column: 2/4;
          width: 150px;
          height: 50px;
          border-radius: $border-radius-10;
          border: 1px solid $border-black;
          background-color: $background-color-lightgrey;
          padding: 10px;
          p {
            line-height: 40px;
            color: $second-color-black;
          }
        }

      }

      .selfState-title {
        width: 100%;
        color: var(--font-color);
        /* layout */
        justify-content: center;
        gap: 35px;
        justify-items: center;

        h4 {
          grid-column-start: 1;
          grid-column-end: 3;
          justify-self: flex-start;
          // grid-column: 1/span 2;
          font-size: $font-size-text-m;
          color: $second-color-black;
        }
      }
    }
    .info-remark {
      width: 275px;
      height: 40px;
      border-radius: $border-radius-10;
      border: 1px dashed $border-black;
      background-color: $background-color-lightgrey;
      padding: 10px;
      p {
        line-height: 25px;
      }
    }
    .notice-container {
      width: 80%;
      border: 3px dashed $border-black;
      .notice-ballType {
        p {
          font-size: 28px;
        }
      }
      .notice-info {
      }
    }
    .info-applicantNote {
      width: 275px;
      height: 40px;
      border-radius: $border-radius-10;
      border: 1px solid $border-black;
      background-color: $background-color-lightgrey;
      padding: 10px;
      p {
        line-height: 25px;
      }
    }
  }
  .bottomBtn-container {
    /* 接受+拒絕按鈕容器 */
    width: 70%;
    height: 35px;
    /*  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
  }
}

/* 元件內輸入框樣式 */
.component-writeBlock {
  width: 95%;
  height: 6vh;
  min-height: 30px;
  max-height: 56px;
  border-radius: $border-radius-10;
  border: 1px solid $border-black;
  background-color: $background-color-lightwhite-s;
  box-shadow: 0 4px 0 0 $box-shadow;
  /* layout */
  padding: 8px;
  input {
    width: 90%;
    font-size: $font-size-text-m;
    border: none;
    border-radius: $border-radius-10;
    background-color: $background-color-lightwhite-s;
    box-shadow: none;
    margin-top: 1vh;
    outline: none;
  }
}
/* hover區 */
.hoverPost{
  // &:hover{
  //   border:3.5px solid rgb(253, 66, 66); ;
  // }
}
.hoverNotice{
  &:hover{
    background-color: $background-color-lightgrey;
    color: $background-color-white;
  }
}
@import "index";
@import "filterPosts";
@import "publicationForm";
@import "notice";
@import "personal";
@import "register";
