@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@font-face {
    font-family: "jf open 粉圓 2.0";
    src: url(./jf-openhuninn-2.0.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
button,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    font-size: 24px;
    font-style: normal;
}

.title-L {
    font-size: 24px;
    font-style: normal;
}

h2 {
    font-size: 20px;
    font-style: normal;
}

.title-M {
    font-size: 20px;
    font-style: normal;
}

h3 {

    font-size: 18px;
    font-style: normal;
}

.text-L {
    font-size: 18px;
    font-style: normal;
}

p {
    font-size: 16px;
    font-style: normal;
}

.text-M {
    font-size: 16px;
    font-style: normal;
}

small {
    font-size: 12px;
    font-style: normal;
}

.text-S {
    font-size: 12px;
    font-style: normal;
}

button {
    font-size: 16px;
    font-style: normal;
}

/* 移除有序和無序列表的預設樣式 */
ul {
    list-style: none;
}

section {
    margin-bottom: 50px;
    /* 控制子層 */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

label {
    font-size: 16px;
}

img {
    display: block;
    width: 100%;
}

a {
    display: block;
    /* 拿掉超連結文字底線 */
    text-decoration: none;
    color: black;
}

select,input{
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

/* 變數區 */
:root {
    --main-color: #14AAEB;
    --btn-color: #F1DB15;
    --font-color: #147CB6;
    --border-image: url('../images/catframe.png');
    --background-image: url('../images/CatBg.jpg');
    /* 通知 */
    --border-type: solid;
    --evaluate-color: #1A8D07;

}

body {
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    /* 防止背景圖片重複 */
    background-size: cover;
    /* 確保背景圖片填滿整個容器 */
    background-attachment: fixed;
    /* 讓背景圖片固定不動 */
    background-position: center center;
    /* 讓背景圖片在容器中置中 */
    font-family: "Alata", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        "jf open 粉圓 2.0";
}

.background-Bm {
    background-image: url(../images/DogBg.jpg);
}

.background-Vb {
    background-image: url(../images/CatBg.jpg);
}

.background-both {
    background-image: url(../images/BothBg.jpg);
}

.body {
    width: 100%;
    height: 100%;
    position: relative;
    /* display: grid;
    grid-template-rows: 125px 1fr 100px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center
}

/*  */
/* 導覽列 */
#topBar {
    width: 80%;
    margin: 1vw 19vw; /* header置中 */
    align-self: center;  /* header置中 */

    /* 控制子層 */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-TopBar{
    display: none;
}
/* 手機 */
@media (max-width:640px) {
    #topBar {

        width: 90%;
        position: fixed;
        bottom: 0;
        margin-bottom: 15px;
        z-index: 1;
    }
    .mobile-TopBar{
        display: block;
        align-self: center;
        min-width: 100vw;
    }
    .mobile-TopBar img{
        width: 100%;
       
    }
    
}

#top-nav {

    /* 父 */
    width: 50%;
    flex: auto;
    /* align-self: center; */
    margin: 20px;

}

/* 平板 */
@media (max-width:768px) {}

/* 手機 */
@media (max-width:640px) {
    #top-nav {

        /* 父 */
        width: 60vw;
        min-width: 320px;
        align-self: center;


    }

    #menu {
        width: 90%;
    }
}

#menu {
    /* 樣式 */
    width: 100%;
    height: 50px;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-radius: 20px;
    background-color: white;
    /* 控制子層 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;

}

/* 手機 */
@media (max-width:640px) {
    #menu {
        width: 90%;
    }
}

#menu li {
    flex: 1 0 auto;
    /* padding-left: 100px; */
    /* 控制子層 */
    display: flex;
    justify-content: center;
}

/* #menu li:last-child {
    
    padding-right: 100px;
} */

#menu li a {
    width: 50%;
    /* 樣式 */
    padding: 1px;
    /* 控制子層 */
    display: flex;
    gap: 2px;
    ;
    flex-wrap: wrap;
}

#menu .icon {
    flex: 0 1 auto;
    /* 樣式*/
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

/*  */
/* 頁尾 */
footer {
    height: 100px;
    width: 100%;
    background-color: rgba(3, 9, 40, 0.6);
    background-size: cover;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    margin-top: 100px;
}

/* 手機 */
@media (max-width:640px) {
   footer{
    display: none;
   }
   /* 主內容 */
    main{

    margin-bottom: 180px; /* 主要内容避免被覆盖 */
}
}

.footer-border {
    width: auto;
    height: 21px;
    background-image: url("../images/logo2.png");
    background-size: 24px;
    background-repeat: repeat;
    background-position: center;

}

footer div {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer div p {
    color: white;
}

#logo {

    width: 35px;
    height: 33px;
    margin-left: 10px;
    flex: 1 0 auto;
}

#selectArea {
    display: none;
}


footer div p {
    width: 237px;
    margin-left: 10px;
    text-align: center;
}

/*  */
/* 首頁main */
.index {
    width: 100%;
    /* 控制子層 */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 50px; */
    gap: 40px;
    
}

.index-title{
    width: auto;
    height: fit-content;
    margin: 0 50px;
    margin-bottom: 50px;
    align-self: flex-start;
}

/* 搜尋區 */
/* main> section(search */
.search {
    /* 樣式 */
    max-width: 800px;
    min-width: 300px;
    width: 90%;
    height: auto;
    /* 布局 */
    flex: 1 1 auto;
    align-self: center;
    margin: 50px 0px;
    /* 控制子層 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* 手機 */
@media (max-width:640px) {
   
}
/* 手機 */
@media (max-width:640px) {
    .search {
        /* 樣式 */
        min-width: 320px;
        width: 90vw;
        height: auto;
        /* 布局 */
        flex: 1 1 auto;
        align-self: center;
        /* margin: 50px 0px; */
        /* 控制子層 */
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }

}
/* main > section(search > div#search-Type */
#search-Type {
    /* 布局 */
    flex: 1 1 auto;
    /* 控制子層 */
    display: flex;
    flex-direction: column;
    align-self: center;

}
/* 手機 */
@media (max-width:640px) {
    #search-Type {
        display: none;
    }
}

#btn-typeVb {
    /* 樣式 */
    width: 120px;
    height: 48px;
    border: 4px solid rgba(20, 170, 235, 0.9);
    background-color: #d9d9d9;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-bottom: 30px;

    opacity: 0.5;
    /* 子層 */
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-typeVb img {
    pointer-events: none;
    width: 30%;

    /*object-fit: cover;  裁剪圖片，使其填滿元素 
    object-position: center; /* 圖片位置 */
    opacity: 0.7;
}
/* main > section(search > div(search-Type > button */
#btn-typeBm {
    /* 樣式 */
    width: 120px;
    height: 48px;
    border: 4px solid #83B90F;
    background-color: #d9d9d9;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    opacity: 0.5;
    /* 子層 */
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-typeBm img {
    pointer-events: none;
    width: 30%;
    opacity: 0.7;

}



button#btn-typeBm.selected,
button#btn-typeVb.selected {
    /* 樣式 */
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border: 4px solid #000;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    opacity: 1;

    /* 子層 */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 手機 */
@media (max-width:640px) {
    button#btn-typeBm.selected,
button#btn-typeVb.selected{
        border-radius: 90px;
    }
}

button#btn-typeBm.selected img,
button#btn-typeVb.selected img {

    opacity: 1;
    width: 90%;
    pointer-events: none;
    object-fit: cover;
    /* 裁剪圖片，使其填滿元素 */
    object-position: center;
    /* 圖片位置 */
}

/* 手機板首頁的打羽球、打排球按鈕容器*/
.btn-changeType {
    /* 640px以上不顯示 */
    display: none;
    width: 80vw;
    height:fit-content;
    flex: 10 1 auto;
}
/* 手機 */
@media (max-width:640px) {
    .btn-changeType{
       display: block;
       min-width: 320px;
    }
}

/* main > section(search > div(search-Bar */
#search-Bar {
    /* 樣式 */
    width: 80vw;
    min-width: 300px;
    height: 270px;
    border: 4px solid #000;
    border-bottom: 15px solid #000;
    border-radius: 20px;
    background-color: #14AAEB;
    /* 布局 */
    flex: 15 1 40px;
    padding: 20px;
    /* 控制子層 */
    display: flex;
    flex-direction: row;


}
.searchBtn-box{
    
}
.searchBtn-box #search-Type{
    display: none; 

}
/* 手機 */
@media (max-width:640px) {
    .searchBtn-box #search-Type{
       display: block;
       width: 25vw;
       margin-right: 50px;
    }
}
/* main > section(search > div(search-Bar > div(dropMenu */
.dropMenu {
    width: 80%;
    height: auto;
    padding-right: 25px;
    /* 布局 */
    flex: 5 1 auto;
    /*控制子層 */
    justify-content: center;
}

/* main > section(search > div(search-Bar > div(dropMenu > ul*/
.dropMenu ul {
    /* 樣式 */
    width: 100%;
    height: auto;
    /*控制子層 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*  ...> div(search-Bar > div(dropMenu > ul > input */
.dropMenu input {
    /* 樣式 */
    width: 60%;
    max-width: 250px;
    min-width: 130px;
    height: auto;
    min-height: 32.5px;
    border: 3px solid black;
    border-radius: 50px;
    margin-bottom: 8px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    color: #147CB6;
    /* 佈局 */
    flex: 1 1 auto;
    align-self: center;



}

/* > div(search-Bar > div(dropMenu > ul > select */
.dropMenu select {
    width: 60%;
    max-width: 250px;
    min-width: 130px;
    height: auto;
    min-width: 147px;
    min-height: 32.5px;
    border: 3px solid black;
    border-radius: 50px;
    margin-bottom: 8px;
    padding: 5px 15px;
    flex: 1 1 auto;
    align-self: center;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    color: var(--main-color);


}

/* main > section(search > div#search-Bar > div */
#search-Bar div {
    width: 30%;
    height: auto;
    /*控制子層 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

}

/* 首頁篩選送出按鈕 */
/* ...> div(search-Bar > div > button(btn-send*/
.btn-send {
    width: fit-content;
    min-width: 130px;
    height: fit-content;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-radius: 50px;
    padding: 5px 40px;
    margin-right: 20px;
    background-color: var(--btn-color);
}
/* 首頁貼文容器 */
/* 首頁main > section */
.containers {
    width: 60vw;
    min-width: 300px;
    height: fit-content;
    border: 3.5px solid black;
    border-bottom: 6px solid black;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: rgba(247, 246, 245, 0.9);
    z-index: -2;
    /* 和footer的距離 */
    margin-bottom: 100px;

    align-self: center;
    flex: 1 1 auto;
    /*控制子層 */
    display: flex;
    flex-direction: column;

}

/*  */
/* 首頁main > section.containers > header.title-postArea*/
.title-postArea {
    width: 95%;
    padding: 20px 10px;
    margin: 0 auto; /* 水平居中 */
    /*控制子層 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.title-postArea h2 {
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 div {
    width: 5px;
    height: 20px;
    background-color: var(--font-color);
    margin-right: 10px;
}

.more {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    border: 1.5px solid black;
    border-bottom: 3px solid black;
    background-color: var(--btn-color);
    padding: 5px 10px;
}
/* 首頁貼文容器tag */
/* 首頁main > section.containers > ul.tags*/
.tags {
    height: 25px;
    width: 95%;/* 和貼文標題一樣 */
    margin: 0 auto; /* 水平居中 */

    /*控制子層 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

/* 首頁main > section.containers > ul.tags > button.*/
/* 臨打貼文tag */
.tags button {
    /* flex: auto; */
    height: 23px;
    width: fit-content;
    border: 2px solid var(--main-color);
    border-radius: 50px;
    margin: 0px 3px;
    padding: 4px 10px;
    background-color: transparent;
    color: var(--main-color);

    display: flex;
    justify-content: center;
    align-items: center;

}

.tags button p {
    /* text-align: center;
    padding-bottom: 10px; */
}

.tags button:checked {
    background-color: var(--main-color);
}

/* 首頁main > section(containers > ul.tags > li > #tags-degree*/
#tags-degree {
    background-color: var(--main-color);
    color: white;
}

#tags-degree:checked {
    background-color: var(--main-color);
}

/* 首頁main > section(containers > div.post*/
.post-block {
    height: 245px;
    width: auto;
    padding: 10px 0px;

/* 
    display: flex;
    flex-direction: row; */
    display: grid; /* 使用网格布局以便更好地控制子元素的排列 */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* 自适应网格布局，每列最小300px宽度，自动换行 */
    gap: 20px; /* 设置网格间距 */
    justify-content: center; /* 水平居中 */
    overflow: hidden;
}

/* 首頁main > section.containers > div.post > div.content*/
.content {
    flex: 1 0 auto;
    width: 100%;
    height: 245px;
    background-image: var(--border-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.content .bg {

    position: absolute;
    top: 1;
    left: 3;
    width: 77%;
    /* 背景寬度 */
    height: 78%;
    /* 背景高度 */
    background-color: var(--main-color);
    /* 背景顏色 */
    z-index: -1;
    /* 將背景移到圖片下面 */

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 首頁main > section.containers > div.post > div.content > div.text*/
.text {
    width: 90%;
    height: 144px;
    /* background-color: #14AAEB; */
    /* position:  absolute; */
    text-align: center;
    color: white;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;



}

/* 首頁main > section.containers > div.post > div.content > div.text >header*/
.text header {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.text p {
    text-shadow: 1px -1px 0 #000000,
        1px -1px 0 #000000,
        -1px 1px 0 #000000,
        1px 1px 0 #000000;
}

/* 首頁main > section.containers > div.post > div.content > div.text >div.subtext*/
.subtext {
    display: flex;
    flex: auto;
    align-self: flex-start;
}

/* 首頁main > section.containers > div.post > div.content > div.text > small*/
.subtext p {
    margin-right: 10px;
}

.text h3 {
    flex: auto;
    align-self: flex-start;
    position: relative;

}

/* 增加h3文字外框線 */
.text h3::before {
    content: attr(value);
    position: absolute;
    -webkit-text-stroke: 4px #000000;
    z-index: -1;

}

/*  > div(post > div(content > div(text > div(tag-style */
.tag-style {
    width: fit-content;
    height: fit-content;

    /* display: grid;
    grid-template-columns: 76px 76px;
    gap: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.tag-style p {

    padding: 4px 8px;
    height: fit-content;
    width: fit-content;

    border-radius: 50px;
    background-color: white;
    color: var(--main-color);
    text-align: center;
    margin-right: 5px;

    text-shadow: 0 0;
}

/* 報名按鈕 */
#apply {
    flex: 1 1 auto;
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    margin-top: 5px;
    border-radius: 50px;
    padding: 5px 18px;
    border: 2px solid black;
    border-bottom: 5px solid black;
    background-color: var(--btn-color);

}



/* 貼文區 */
/* main.filter-postArea */
.filter-postArea {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;

}

/* main.filter-postArea > div.filter-title*/
.filter-postArea .filter-title {
    width: 700px;
    height: fit-content;
    align-self: center;


}

.hugTitle {
    flex: auto;
    margin-left: 20px;
}

.filter-postArea .filter-title .hugTitle {
    text-align: center;

}

/* 標題底線 */
div.hugTitle h1,
div.hugTitle h2 {
    position: relative;
    color: white;
    width: fit-content;
    border-bottom: 4px solid rgba(0, 0, 0, 1);
    z-index: 0;
}

/* 增加文字外框線 */
.hugTitle h1::before,
.hugTitle h2::before,
.hugTitle::before {
    position: absolute;
    content: attr(value);
    -webkit-text-stroke: 4px #000000;
    z-index: -1;
}

/* main.filter-postArea  > section.filter-box*/
.filter-box {
    width: 350px;
    height: 96px;
    align-self: center;


    /* 子 */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* main.filter-postArea  > section.filter-box > div.fitter-info */
.fitter-info {
    width: 244px;
    height: 59px;
    border-radius: 50px;

    background: rgba(247, 246, 245, 1);
    border: 3.5px solid rgba(0, 0, 0, 1);

    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    /* 子 */
    display: flex;
    flex-direction: column;
    overflow-wrap: normal;

}

/* ... > section.filter-box > div.fitter-info > div.info-top*/
.fitter-info .info-top {
    margin: 2px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* ...> section.filter-box > div.fitter-info > div.info-top >a >img */
.info-top img {
    flex: 2;
    width: 16px;
    margin: 7px;

}

/* ...> section.filter-box > div.fitter-info > div.info-top >p */
.info-top p {
    width: 55px;
}

/* ...> section.filter-box > div.fitter-info > div.info-top >p.dot */
.info-top .dot {
    width: 15px;
}

/* ...> section.filter-box > div.fitter-info > div.info-down */
.fitter-info .info-down {
    align-self: center;
}

.filter-btnBox {
    width: 70px;
    padding-left: 10px;
    position: relative;
}

/* ... >div.fitter-info >div.filter-btnBox >button.#btn-filter */
#btn-filter {
    width: 58px;
    height: 58px;
    top: 4px;
    border-radius: 90px;
    border: 3px solid black;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    position: relative;
}

/* ...> section.filter-box > div.fitter-info > div > button#btn-filter >img */
#btn-filter img {

    width: 48px;
    height: 48px;
    position: absolute;
    top: 8px;
    left: 2px;

    /* Image: filter; */
    background-size: cover;


}

/* ...> section.filter-box > div.fitter-info > div > div.by-btn-filterNum */
.by-btn-filterNum {
    /* layout */
    height: auto;
    padding: 4px 7px 4px 7px;
    border-radius: 90px;
    /* color */
    background: rgba(203, 27, 27, 1);
    /* border */
    border: 1.5px solid rgba(0, 0, 0, 1);

    /* 相對#btn-filter位置 */
    position: absolute;
    top: 0;
    right: 0;

    /* 子 */
    text-align: center;
}

/* ... > div.fitter-info > div > div.by-btn-filterNum >p */
.by-btn-filterNum p {
    color: white;


}

/* main.filter-postArea  > section.filter-box > div.filter-postQuantity */
.filter-postQuantity {
    width: 165px;
    height: 19px;
    margin-top: 30px;

}

.filter-postQuantity p {
    position: relative;
    z-index: 0;
    color: white;
}

.filter-postQuantity p::before {
    content: attr(value);
    position: absolute;
    z-index: -1;
    -webkit-text-stroke: 4px #000000;
}

/* main.filter-postArea > hr */
.filter-postArea hr {
    width: 1850px;
    height: 0px;
    align-self: center;
    border: 1px solid black;

}

/* main.filter-postArea > section.filter-containers */
.filter-containers {
    width: 100vh;
    height: auto;
    margin: 20px;



}

/* main.filter-postArea > section.filter-containers >div.filter-postBlock */
.filter-postBlock {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow-wrap: normal;
    gap: 30px;
    justify-content: center;


}

/* 篩選貼文區貼文 */
/* main.filter-postArea > section.filter-containers >div.filter-postBlock >div.filter-simplePostInfo */
.filter-simplePostInfo {
    width: 348px;
    height: fit-content;
    padding: 20px;
    border-radius: 20px;
    background: rgba(247, 246, 245, 0.9);
    border: 3.5px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 12px 0px 0px rgba(0, 0, 0, 1);

    display: grid;
    grid-template-rows: 95px 127px 36px;
    /* grid-template-rows: 0.25fr 1.2fr 0.25fr; */
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;

}

/* main.filter-postArea > section.filter-containers >div.filter-postBlock >div.filter-simplePostInfo > div.main-info */
.main-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

/* ...>div.filter-simplePostInfo > div.main-info > header */
.main-info header {
    width: auto;
    height: fit-content;
    color: var(--main-color);
    display: grid;
    grid-template-columns: 4.9fr 1.1fr 0.7fr;
    gap: 15px;

    justify-content: space-between;
    align-items: center;

}

/* ...>div.filter-simplePostInfo > div.main-info > header> type-style */
.type-style {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    padding: 4px 10px;
    background: var(--main-color);
    color: white;

}

/* ...>div.filter-simplePostInfo > div.main-info > div.areaInfo */
.areaInfo {
    width: auto;
    height: auto;
    color: var(--main-color);
    display: grid;
    grid-template-columns: 55px 55px 110px;
    gap: 7px;
    /* 只有在 Flexbox 或 Grid 的容器中使用 gap */


}

/*  ... >div(filter-postBlock >div(filter-simplePostInfo > div(sub-info */
.sub-info {
    border-radius: 5px;
    padding: 5px;
    /* 子 */
    display: grid;
    grid-template-rows: 1fr 0.9fr 0.9fr 3cqw;
    gap: 5px;


}

/*  ...>div(filter-simplePostInfo > div(sub-info > h4 */
.sub-info h4 {
    color: #6D6D6D;
    align-self: center;
}

.sub-info div {
    color: white;
}

.sub-info div p {
    color: var(--font-color);
}

/*  ...>div(filter-simplePostInfo > div(sub-info > div(solicitor-number */
.vacancyInfo {
    width: auto;
    height: fit-content;

    /* 子 */
    display: grid;
    grid-template-columns: 35px 25px 35px 25px 40px 45px 35px;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
}

/*  ...>div(filter-simplePostInfo > div(sub-info > h4 */
.vacancyInfo div {
    width: fit-content;
    height: fit-content;
    padding: 2px 5px;
    border-radius: 50px;
    background: #6D6D6D;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*  ...>div(filter-simplePostInfo > div(sub-info > div(ball-type */
.ballInfo {
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 6px;
    justify-content: center;
    align-items: center;


}

/*  ...>div(filter-simplePostInfo > div(sub-info > div(ballInfo */
.ballInfo h4 {
    width: fit-content;
    align-self: center;
}

/* 球場介紹... >div(filter-simplePostInfo >div(sub-info>div(equipInfo*/
.equipInfo {
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 6px;
}

/* 備註... >div(filter-simplePostInfo>div(sub-info>div(noteInfo*/
.noteInfo {
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 35px 1fr;
    gap: 6px;
}

.filter-simplePostInfo>div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*  */
/* 發文表單頁 */
/* main(form-formArea */
main.form-formArea{
    width: 100%;
    height: max-content;
    /* margin-bottom: 10px; */

    /* 子 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 發文表單標題 */
main div.form-title {
    /* layout */
    width: 60%;
    max-width: 700px;
    min-width: 340px;
    height: fit-content;
    margin: 0 50px;

    /* child */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

/* 平板 */
@media (max-width:768px) {}

/* 手機 */
@media (max-width:640px) {

    /* 發文表單標題 */
    main div.form-title {
        /* layout */
        min-width: 315px;
        height: fit-content;
        margin: 20px 0px;
        /* child */
        display: flex;
        flex-direction: row;
        gap: 80px;
        justify-content: space-around;
        align-items: center;


    }
}

/* 類別按鈕+表單+預覽區 */
main section.form-container {
    width: fit-content;
    height: fit-content;
    padding: 0px 200px;

    display: grid;
    grid-template-columns: 339px 378px;
    gap: 20px;

}

/* 表單容器 */
.form-block {
    display: grid;
    grid-template-rows: 30px 645px;
    gap: 3px;

}

/* 貼文管理按鈕 */
main div button#btn-postManage {
    /* layout */
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 2px solid black;
    padding: 9px 18px;
    background-color: var(--btn-color);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    /* child */
    display: grid;
    grid-template-columns: 64px 20px;
    gap: 10px;
}

/* 切換表單按鈕容器 */
main div.form-type{
    
    width:100%;
    height: fit-content;
    align-self: flex-start;


    display: flex;
    justify-content: space-between;
}

/* 切換表單按鈕容器:打羽球 */
#btn-formBM {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    padding: 5px 25px;
    background-color: rgba(247, 246, 245, 0.9);
    color: #689607;
}

/* 切換表單按鈕容器:打排球 */
#btn-formVB {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
    padding: 5px 25px;
    background-color: rgba(247, 246, 245, 0.9);
    color: #147CB6;
}

/* 按鈕被選中 */
button#btn-formBM.selected,
button#btn-formVB.selected {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 5px 25px;
    color: black;
    background-color: var(--main-color);
    border: 0px;
    box-shadow: none;

    position: relative;

}

/* 選中時陰影 */
button#btn-formBM.selected::before,
button#btn-formVB.selected::before {
    content: '';
    position: absolute;
    top: 20px;
    box-shadow: inset 0px 10px 0px black;
}


/* 表單元素容器 */
.form-edit {
    width: 339px;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px 15px;

    display: grid;
    grid-template-rows: 20px 330px 20px 197px;
    gap: 15px;
}

/* 表單標題 */
.sub-title h2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* padding: 20px 10px; */

}

/* 表單標題外框線 */
.sub-title h2 div {
    background-color: black;
}

/* 必填表單容器 */
.form-options {
    width: 309px;
    height: 317px;
    border-bottom: 1px solid black;
    margin-top: 10px;
    padding-left: 20px;
    /* child */
    display: grid;
    grid-template-rows: auto;
}

/* 內容表單元素標題 */
.form-options label {
    width: 330px;
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 10px;

}

/* 所有<label>下<input> */
.form-options label input {
    width: 100px;
    height: 20px;
    border-radius: 50px;
    border: 2.5px solid black;
    padding: 0px 15px;
    align-items: center;
}

/* 時段 */
.form-options label:nth-child(2) {
    display: grid;
    grid-template-columns: 32px 80px 5px 80px;
}

.form-options label:nth-child(2) input {
    width: 50px;
}

/* 地區<label> */
.form-options label:nth-child(3) {
    display: grid;
    grid-template-columns: 32px 100px 1fr;
}

/* 地區 類型 程度<select> */
.form-options label:nth-child(3) select,
.form-options label:nth-child(5) select,
.form-options label:nth-child(8) select {
    width: 100px;
    height: 25px;
    padding-left: 10px;
    border-radius: 50px;
    border: 2.5px solid black;
}

/* 缺額<label> */
.form-options label:nth-child(7) {
    display: grid;
    grid-template-columns: 32px 75px 75px 70px;
    gap: 10px;
}

/* 缺額<label>下的<input> */
.form-options label:nth-child(7) input {
    width: 45px;
    padding-left: 10px;
}

/* 選填表單容器 */
.form-subOptions {
    width: 309px;
    height: 197px;
    margin-top: 10px;
    padding-left: 20px;

    display: grid;
    grid-template-rows: auto;

}

/* 選填表單容器下所有<label> */
.form-subOptions label {
    width: 330px;
    display: grid;
    grid-template-columns: 75px 1fr;
    gap: 10px;

}

/* 選填表單容器下所有<label>下的<input> */
.form-subOptions label input {
    width: 150px;
    height: 20px;
    border-radius: 50px;
    border: 2.5px solid black;
    padding: 0px 15px;
    align-items: center;
}

/* 選填表單容器下所有<label>下的<select> */
.form-subOptions label select {
    width: 135px;
    height: 25px;
    padding-left: 10px;
    border-radius: 50px;
    border: 2.5px solid black;
}

/* 預覽容器 */
.form-review {
    width: 395px;
    height: 610px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 35px;
    margin-left: 30px;
    padding: 20px 15px;

    display: grid;
    grid-template-rows: 28px 324px 40px;
    gap: 100px
}

/* 預覽送出按鈕 */
.form-review button.btn-send {
    margin-left: 140px;
}

/*  */
/* 通知頁面 */

/* main容器 */
.notice-Area {
    width: 80vh;
    height: auto;

    display: grid;
    grid-template-rows: 29px 47px 30px 390px 24px 340px;
    gap: 25px;
}



/* 通知類別容器 */
.notice-type {
    width: 80vh;
    height: fit-content;

    display: grid;
    grid-template-columns: 110px 110px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}



/* 通知類別按鈕 */
.notice-type button {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 9px 18px;
    background-color: rgba(155, 58, 232, 0.9);
    color: rgba(247, 246, 245, 0.9);
    border: 2px solid black;
    box-shadow: 0px 4px 0px 0px black;

}

/* 按鈕選中 */
button#btn-itinerary.selected,
button#btn-pastRecords.selected {
    background-color: rgba(74, 13, 150, 0.9);
    border: none;
    box-shadow: none;
}

/* 副標容器 */
.notice-itineraryTitle {
    width: 80vh;
    margin-left: 50px;

    display: grid;
    grid-template-columns: 100px 80px;
    gap: 15px;
    align-content: center;
    justify-content: start;
    align-items: center;
    justify-items: center;

}

/* 主辦按鈕 */
.btn-sponsor {
    width: fit-content;
    height: 30px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: rgba(247, 246, 245, 0.9);
    box-shadow: 0px 4px 0px 0px black;
    padding: 3px 8px;

    display: grid;
    grid-template-columns: 25px 40px;
    gap: 3px;
}

/* 預定行程容器 */
.notice-itineraryArea {
    width: 80vh;
    height: 300px;
    margin-top: 30px;

    display: grid;
    grid-template-columns: 450px 450px;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* 手機 元件兩行變成一行 */
@media (max-width:640px) {
    .notice-itineraryArea {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
}

/* 通知元件容器 */
.notice-container {
    width: 422px;
    height: fit-content;
    border-radius: 50px;
    border: 3px var(--border-type)black;
    padding: 8px 8px 8px 17px;
    color: var(--font-color);
    background-color: rgba(247, 246, 245, 0.9);

    display: grid;
    grid-template-columns: 50px 341px;
    gap: 10px;
    justify-content: start;
    align-items: center;

  
}

/* 羽or排 */
.notice-ballType {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: var(--font-color);
    text-align: center;
    color: rgba(247, 246, 245, 0.9);

}

/* 元件資訊 */
.notice-info {
    width: auto;
    height: fit-content;

    display: grid;
    grid-template-columns: 103px 119px 100px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/* 元件資訊:日期時間 */
.notice-info>div:first-child {
    width: 103px;
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 5px;
}

/* 手機 元件容器-資訊-文字*/
@media (max-width:640px) {

    .notice-container {
        width: 88vw;
        min-width: 330px; 
        /* 375*0.88vw */
        grid-template-columns: 15% calc(82% - 6px);
        padding: 6px;
        gap: 0
    }

    .notice-info {
        gap: 3%;
        grid-template-columns: 25% 36% 36%;
    }

    .notice-info>div:first-child {
        width: 100%;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* 文字過多刪減 */
    .notice-info>p {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


/* 評價狀態 */
.notice-info>div:last-child {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    border: 1px solid var(--evaluate-color);
    padding: 4px 8px;

    color: var(--evaluate-color);
}

.notice-pastRecordsArea {
    display: none;
}

.custom-dashed-border {
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(to right, black 10px, transparent 0);
    background-position: left top;
    background-size: 10px 3px;
    /* 這裡的第一個值（10px）是虛線的長度，第二個值（2px）是虛線的寬度 */
}


/*  */
/* main個人檔案 */
.personal-Area {
    width: 100%;
    height: fit-content;
    margin-bottom: 180px;

    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 60px;
    justify-content: center;
    justify-items: center;

}

@media screen and (max-width:640px) {
    .personal-Area {
        margin-bottom: 180px;
    }
}

/* 資料編輯按鈕*/
#btn-editFile {
    flex: 0.1;
    justify-self: end;
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 9px 18px;
    margin-right: 10px;
    background-color: rgba(155, 58, 232, 0.9);
    color: rgba(247, 246, 245, 0.9);
    border: 2px solid black;
    box-shadow: 0px 4px 0px 0px black;
    display: grid;
    grid-template-columns: 65px 32px;
    align-items: center;
}

/* 個人資料容器 */
.personalArea-infoContainer {
    width: 100%;
    height: fit-content;
    margin: 0 50px;

    display: grid;
    grid-template-rows: 1fr 0.5fr;
    gap: 5px;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 640px) {
    .personalArea-infoContainer {
        gap: 20px;
    }
}

/* 包頭像(登入)+狀態的容器 */
.infoContainer-biography {

    max-width: 100%;
    min-width: 315px;
    height: fit-content;

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

}

@media screen and (max-width: 640px) {
    .infoContainer-biography {

        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-items: center;
    }
}

/* 頭像(登入)容器 */
.biography-bust {
    /* flex-grow:1; */
    width: 30%;
    height: 250px;
    display: grid;
    grid-template-rows: 205px 145px;
    gap: 15px;
    justify-content: center;
    align-items: start;
    justify-items: center;
}

@media screen and (max-width: 640px) {
    .biography-bust {
        height: fit-content;
        display: grid;
        grid-template-rows: 205px;
        gap: 0px;
    }
}

/* 頭像 */
.biography-bust figure {
    width: 150px;
    height: 150px;
    border-radius: 90px;
    border: 10px solid black;
    background-color: #ffffff;
    margin-bottom: 20px;
}

/* Line登入按鈕 */
.btn-logInLine {
    width: 112px;
    height: 36px;
    background-color: #44C150;
    color: rgba(247, 246, 245, 0.9);
    border: 3px solid black;
    border-radius: 3px;
    font-size: 12px;
    padding: 6px 9px;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/*  */
.btn-logInLine img {
    width: 20px;
    margin-right: 12px;
}

/* 登入後姓名 */
.userName {
    width: 120px;
    display: flex;
    flex-direction: row;
    color: white;

}

.userName img {
    width: 20px;
}

/* 包(狀態)容器 */
.biography-info {
    /* flex-grow:1; */
    width: 70%;
    height: fit-content;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

/* 介紹 */
.info-introduction {
    /* width: 100%; */
    min-width: 215px;
    height: 89px;
    border-radius: 50px;
    padding: 12px 18px;
    background-color: rgba(247, 246, 245, 0.9);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    color: #6D6D6D;

    text-align: center;
    line-height: 89px;


}

/* 場次+出席+自評狀態 */
.info-selfState {
    max-width: 100%;
    min-width: 315px;
    height: fit-content;
    border-radius: 20px;
    border: 4px solid black;
    background-color: rgba(247, 246, 245, 0.9);
    padding: 20px;

    display: grid;
    grid-template-rows: 2fr 0.5fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;


}

/* 登入後顯示的場次資料 */
.selfState-userInfo {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    align-items: center;

}

/*  */
.selfState-userInfo .userInfo {
    width: 53px;
    height: 32px;
    border-radius: 50px;
    background-color: #83B90F;
    text-align: center;
    line-height: 32px;
    color: rgba(247, 246, 245, 0.9);


}

/*  */
.selfState-userInfo div {
    width: 60px;
    height: 55px;
    position: relative;
}

.selfState-userInfo div img {
    position: absolute;
    width: 100%;
    top: 0;


}

.selfState-userInfo div p {

    position: absolute;
    top: 18px;
    left: 13px;
    color: #83B90F;

}


/* 累積場次... */
.selfState-title {
    width: 242px;
    height: fit-content;

    display: grid;
    grid-template-columns: 67px 51px 67px;
    justify-content: space-between;
    color: #83B90F;

}

/*登入顯示字顏色 */
.info-selfState>div:last-child {
    color: #6D6D6D;
}

/* 包(團主和零打紀錄)的容器 */
.infoContainer-records {
    max-width: 100%;
    min-width: 315px;
    height: 210px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    /* grid-template-columns:1fr 1fr; */
    gap: 80px;
    justify-items: center;
    align-items: center;

}

@media screen and (max-width: 640px) {
    .infoContainer-records {
        height: fit-content;
        display: grid;
        grid-template-rows: 205px 1fr;
        gap: 20px;
    }
}

/* 團主紀錄容器 */
.records-sponsored {
    width: 315px;
    min-width: 215px;
    height: fit-content;
    padding: 20px;
    background-color: #F6F6F6;
    border-radius: 20px;
    border: 4px solid black;

    display: grid;
    grid-template-rows: 19px 1fr;
    gap: 15px;
    justify-items: center;
    align-items: center;
    overflow: hidden;

}

/* 團主紀錄第一行標題 */
.sponsored-title {
    width: auto;
    height: fit-content;
    justify-self: flex-start;

    display: grid;
    grid-template-columns: 95px 59px;
    gap: 134px;
    justify-content: space-between;
}

/* 包標題的容器 */
.hugSponsored-title {

    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 標題前的直線 */
.titleLine {
    width: 5px;
    height: 20px;
    background-color: black;
    margin-right: 10px;
}

/* 包左、右按鈕的容器 */
.sponsored-titleBtn {
    display: grid;
    grid-template-columns: 10px 10px;
    gap: 41px;
}

/* 提示:登入顯示 */
.prompt {
    color: #6D6D6D;
}

/*  */
.records-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: flex-start;

}

/*臨打紀錄*/
.records-participation {
    width: 315px;
    min-width: 215px;
    height: fit-content;
    padding: 20px;
    background-color: #F6F6F6;
    border-radius: 20px;
    border: 4px solid black;

    display: grid;
    grid-template-rows: 19px 1fr;
    gap: 15px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.info-time {
    width: 100px;
    height: fit-content;
    border-radius: 50px;
    border: 2px solid rgba(131, 185, 15, 0.9);
    background-color: rgba(247, 246, 245, 0.9);
    color: #689607;

    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.info-time div {
    width: 33px;
    height: 42px;
    border-radius: 50px;
    background-color: rgba(131, 185, 15, 0.9);
    color: rgba(247, 246, 245, 0.9);
    font-size: 30px;
}

.info-time p {
    width: 50px;
    text-align: center;
}

/* RWD */
/* 桌機 */
@media(max-width:820px) {}

/* 平板 */
@media (max-width:768px) {}

/* 手機 */
@media (max-width:640px) {}